[2017-07-31 20:06] gliptak opened #3 "bmcs compute shape lists duplicates"
Here is the listing command I used:

[code]

Let me know if I'm to attach the resulting listing.

Thanks

[2017-08-01 08:43] jodoglevy commented on #3
Hi,
This is due to the list instance shapes REST API returning shapes per availability domain, but not returning any availability domain info in the response, making it look like duplicate information is being returned. The Compute service team is working on a fix.

[2017-08-02 21:07] nathan-vu opened #4 "CLI Image Export Fails"
### Issue
The `bmcs compute image export` takes in a `--destination-type` switch which says where to place the exported image; the value passed in as a parameter is a JSON string and can identify either an Object Storage URI or a Object Storage tuple of (namespace, bucket name, object name)

Currently this CLI command fails to export an image using either the URI or tuple, even though the JSON str

[2017-08-08 01:49] bgilbert opened #5 "Package fails to install on Fedora 26"
On Fedora 26, running `pip install oraclebmc-cli` in a fresh virtualenv produces a [build failure](https://github.com/oracle/bmcs-cli/files/1206631/log.txt) in the `cryptography` package.  `bmcs-cli`'s `setup.py` depends on `cryptography==1.8.1`, but `cryptography` < 1.8.2 will not build with OpenSSL &ge; 1.1.0f (https://github.com/pyca/cryptography/pull/3603).  If I install `oraclebmc-cli` from a

[2017-08-08 19:18] mross22 commented on #5
Thanks for reporting this.  I will make the change to upgrade to cryptography 1.8.2 (assuming there are no regressions in our tests) which should fix your immediate install issue.

As for pinning, I understand the point being made in the linked doc about 'users not gaining the benefit of dependency upgrades' but we are making that trade off in favor of greater stability by guaranteeing that our us

[2017-08-08 21:09] bgilbert opened #6 "Have -h flag show help"
On Unix `-h` is the conventional short option for help.  `-?` doesn't feel natural and I keep forgetting to type it instead of `-h`.

[2017-08-09 02:33] bgilbert opened #7 "Can't "bmcs os object put" from stdin"
`bmcs os object put -?` says:

[code]

But on Fedora 26:

[code]

[2017-08-09 06:15] brunoborges commented on #5
@mross22 please check your email :-)

[2017-08-09 06:19] mross22 commented on #7
Thanks for reporting, yes this is a regression in one of our recent releases.  We are working on a fix now and should have an update soon.

[2017-08-11 03:28] jodoglevy commented on #6
Fixed in v2.4.6

[2017-08-11 03:28] #6 closed

[2017-08-11 03:29] jodoglevy commented on #7
Fixed in v2.4.6

[2017-08-11 03:29] #7 closed

[2017-08-11 03:29] jodoglevy commented on #4
Fixed in v2.4.6

[2017-08-11 03:29] #4 closed

[2017-08-11 03:30] jodoglevy commented on #5
Fixed in v2.4.6

[2017-08-11 03:30] #5 closed

[2017-08-17 17:45] IoTMike opened #9 "pip install oraclebmc-cli fails on clean install"
Summary:  upon executing `pip install oracle-bmcs-cli/oraclebmc_cli-2.4.5-py2.py3-none-any.whl` or  `pip install oraclebmc-cli` (with or without sudo), error returned:

Command "/usr/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-iBfi6V/cryptography/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file_

[2017-08-17 18:17] mross22 commented on #9
The documentation is out of date in this case and we have a ticket to update it internally, sorry for the inconvenience.

You will need to add 'gcc' to your 'yum install' command like so:
sudo yum install libffi-devel python-devel openssl-devel **gcc**

As for needing sudo to execute pip install oraclebmc_cli, that will not be the case if you are installing into a virtualenv that resides in a fold

[2017-08-17 21:31] IoTMike commented on #9
Thanks Mike.  Duh...should have figured gcc out.

Also in the docs:

3. (Optional) Create a directory for storing your virtual environments.
`/mkdir/myvirtualspaces/virtualenvs`

At least that one's pretty self evident.
Cheers.

[2017-08-17 21:31] #9 closed

[2017-08-22 06:46] chowduri opened #10 "bmcs compute image export returns "Unable to process JSON input""
Hi Below is the command used and the return response.
bmcs compute image export --image-id "ocid1.image.oc1.xxxxxx" --destination-type '{"objectName": "xxxxx","bucketName": "xxxxx", "namespaceName": "xxxxxx", "destinationType": "objectStorageTuple"}'

ServiceError:
{
    "code": "InvalidParameter",
    "message": "Unable to process JSON input",
    "opc-request-id": "xxxxxxxxxxxxxxx",
    "status"

[2017-08-22 07:27] mross22 commented on #10
There was a bug in version 2.4.5 of the CLI with the 'bmcs compute image export' command which has since been fixed in version 2.4.6.

Can you please try upgrading your CLI to the latest version (pip install oraclebmc_cli --upgrade) and using the following command to export an image:
`bmcs compute image export to-object`

Note that in the fixed version you can pass in individual parameters instead

[2017-08-22 07:33] chowduri commented on #10
Thanks ... its working fine after upgrading the bmcs version.

[2017-08-22 18:17] #10 closed

[2017-09-25 22:02] MarcinZablocki opened #15 "Add support for --skip_source_destination_check"
Currently vnic-attachment doesn't support setting this option, which prevents from creating private IP as a target route.

[2017-09-26 21:23] MarcinZablocki opened #17 "Unable to attach / detach volume"
It seems that availability-domain value is not passed correctly:

ServiceError:
{
    "code": "InvalidParameter",
    **"message": "Invalid AD: phx-ad-1",**
    "opc-request-id": "614F756F61E84494BF3732D205FCBEE2/AF47688F2E89823025FB4D6648BEE11B/67B1E71EB5E7C06E09FDE2A318EC62AF",
    "status": 400
}

[2017-09-26 22:18] mross22 commented on #17
The CLI is just passing through the availability-domain value you supply which needs to be one of the values returned by the following command: (where $C is the compartment id you are in)
`oci iam availability-domain list -c $C`

At first glance it looks like you are missing the compartment specific prefix in the value for availability-domain. An example of a correctly specified AD would look some

[2017-09-27 00:02] mross22 commented on #17
Also can you make sure that the region you are targeting with the CLI (either through the region value in your config or with the --region parameter) is the same region which contains the instance and block volume you are trying to attach/detach.  This error can occur if you are targeting one region with the CLI and trying to attach an instance / block volume in another region.

[2017-09-27 01:23] MarcinZablocki commented on #17
I made sure. Same config file seems to be working fine with Python SDK.

The region is set to  us-phoenix-1 in the configuration file, but for some reason, it's incorrect when executing the command.

[2017-09-27 07:24] jodoglevy commented on #15
Thanks for reporting. We're working on this feature for our next release.

[2017-09-27 22:37] MarcinZablocki commented on #17
Ok. So it's a user error. API call targeting IAD, to manage request in PHX.
Using --debug helps!

[2017-09-27 22:37] #17 closed

[2017-09-28 20:57] xtoddx opened #18 "Show fingerprints after creating key with `oci setup config`"
Since the web console uses the fingerprint to identify keypairs, it would be nice to have it echoed after a key is created, with the instructions on uploading a key.

I know it is in the config file, but if the CLI is coaching users on how to upload a keypair, it should also give them the validation information.

[2017-09-28 21:05] xtoddx opened #19 "Use full path when writing `key_file` in `setup config`"
I wanted my config and key files to live in the directory where I created my virtualenv, instead of in ~/.oci (so that I could experiment in a directory instead of writing more global state). When asked for my key directory I typed `.` for the current directory. Now when I run `oci` form a different directory I get configuration failures and my commands don't work, eg: `IOError: [Errno 2] No such

[2017-09-28 21:19] xtoddx opened #20 "Default --compartment-id to tenant id"
Since a tenant OCID is a valid --compartment-id value, it would be great if I didn't have to specify it again (it already lives in my config file) for cases when I'm using the root compartment.

Even if the desire is to encourage users to compartmentalize, a shortcut like --compartment-id=ROOT could save copy-pasting, rekeying errors, etc while still encouraging the use of the --compartment-id fla

[2017-09-28 23:04] jakupovic opened #21 "Object put from STDIN fails when piping input"
This doesn't work:

elvis-mac:ansible ejakupov$ echo "tst" | oci os object put --namespace my-namespace -bn backup --name backup/logging/test.tgz  --file -
IOError: [Errno 29] Illegal seek

whereas this works
elvis-mac:ansible ejakupov$ oci os object put --namespace my-namespace -bn backup --name backup/logging/test.tgz  --file - <<< "tst"
{
  "etag": "5A487BF2EC84B94DE053C254C00A5918",
  "last-mo

[2017-09-30 01:04] jodoglevy commented on #21
Thanks for reporting, we'll take a look

[2017-09-30 01:05] jodoglevy commented on #19
Thanks, we're working on this for our next release

[2017-09-30 01:06] jodoglevy commented on #18
Fair point, we'll take a look at this and get back to you

[2017-09-30 01:08] jodoglevy commented on #20
Thanks for reporting. We're working on a solution that should make this easier (ability to specify defaults for all CLI parameters, including --compartment-id). Stay tuned!

[2017-10-03 17:25] nathan-vu commented on #18
We're working on this for our next release (actually we seem to be outputting the fingerprint if you supply your own key but not for the one we generate, so this'll close the loop there).

[2017-10-13 06:42] chowduri opened #24 "Is there anyway to list only Custom created Images rather than listing all the Images."
We have Imported some of the Images from other tenancies, and as a requirement we need to list only those in "oci compute image list", Please let me know if that's possible.

[2017-10-13 19:11] nathan-vu commented on #15
We released v2.4.10 of the CLI yesterday (12 October) and `--skip-source-dest-check` is now available when attaching VNICs and launching instances

[2017-10-13 19:11] #15 closed

[2017-10-13 19:12] nathan-vu commented on #18
We released v2.4.10 of the CLI yesterday (12 October) and we now output the fingerprint when the CLI generates the key.

[2017-10-13 19:12] #18 closed

[2017-10-13 19:21] mross22 commented on #19
This is fixed in our latest release: https://github.com/oracle/oci-cli/releases/tag/v2.4.10

[2017-10-13 19:21] #19 closed

[2017-10-13 19:21] mross22 commented on #21
This is fixed in our latest release: https://github.com/oracle/oci-cli/releases/tag/v2.4.10

[2017-10-13 19:21] #21 closed

[2017-10-13 19:22] nathan-vu commented on #20
We released v2.4.10 of the CLI yesterday (12 October) and as part of that release we introduced support for specifying command defaults in a file so that folks don't have to keep typing them. We support both global (i.e. applies to all CLI commands) and more granular (e.g. apply to a specific group of commands, apply to a specific command) defaults.

Additional information can be found in the docs

[2017-10-13 19:22] #20 closed

[2017-10-17 23:05] jamgold opened #25 "Specify the --profile value via environment variable"
It would be nice if the profile (--profile) could be specified via environment variable
[code]
by making this simple change to oci_cli/cli_root.py simply setting OCI_PROFILE will make that happen

[2017-10-18 06:11] mross22 commented on #24
On the service side we only make a distinction between system images and custom images. Custom images can be created via snapshot (from a running instance) or import (from object store). Custom images created from snapshot have operatingSystem set to the same OS as the instance. Imported images have the operatingSystem set to "Custom".

Because in your case it sounds like your images are imported,

[2017-10-18 18:42] #24 closed

[2017-10-30 19:40] xtoddx commented on #20
Thanks. To make sure I'm clearly understanding the documentation: my --profile flag now chooses *both* the configuration and the defaults section to use?

Assume a config file (./my-config)
[code]

And a defaults file (./my-defaults)
[code]

And I run `opc --config-file ./my-config --defaults-file ./my-defaults --profile PHX ...` (because this is how I'm accustomed to targeting a region), I can't

[2017-10-30 21:08] nathan-vu commented on #20
Apologies for the confusion.

Yes, sorry that the help text wasn't updated here. We'll get it updated.

***

Yes, in this case you'd need to create separate files. The sections would need to be named PHX (unfortunately we can't locate a section if it doesn't exist in the file).

As an aside, if you did have values you wanted to inherit down to each specific section of the config file, then having

[2017-11-10 16:10] xtoddx opened #27 "Changelog warning in pip install."
[code]

I see that MANIFEST.in has CHANGELOG.md instead of CHANGELOG.rst, which may be the root cause?

[2017-11-13 20:22] nathan-vu commented on #27
Yep, that's probably it. Will be fixed for our next release.

[2017-11-18 15:24] therealcmj commented on #25
You should probably submit this as a pull request instead.

[2017-11-20 14:58] mross22 commented on #25
Thanks for reporting, we just added a fix for this issue which will be part of our next release.  As Chris mentioned we gladly welcome pull requests so if you run into any issues in the future which you have a proposed fix for, feel free to submit one!

[2017-11-28 01:06] mross22 commented on #25
As of version 2.4.12 we have added the ability to specify this in your ~/.oci/oci_cli_rc file by adding the following section:

[code]

[2017-11-28 01:06] #25 closed

[2017-11-28 01:07] mross22 commented on #27
Fixed in release 2.4.12

[2017-11-28 01:07] #27 closed

[2017-12-11 22:47] mross22 commented on #25
Following up on this, as of release 2.4.13 we have also added the ability to specify --profile through the OCI_CLI_PROFILE environment variable.

[2017-12-12 08:26] brunoborges opened #31 "Add CI support"

[2017-12-12 17:56] nathan-vu commented on #31
Assume that this is the same as per the comment here: https://github.com/oracle/oci-python-sdk/issues/39

So support either (or both)  [Wercker](https://app.wercker.com/Oracle/) or [Travis CI](https://travis-ci.org/oracle/). I can take a look

[2017-12-13 06:28] MarcinZablocki opened #32 "Lacking "friendly" error message for oci compute launch"
$ oci compute instance launch

Traceback (most recent call last):
  File "/usr/local/bin/oci", line 11, in <module>
    sys.exit(cli())
  File "/Library/Python/2.7/site-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/Library/Python/2.7/site-packages/click/core.py", line 697, in main
    rv = self.invoke(ctx)
  File "/Library/Python/2.7/site-packages/cl

[2017-12-13 06:46] nathan-vu commented on #32
Hi,

Which version (`oci --version`) of the CLI are you running? This is an issue we fixed in later versions of the CLI; for example in v2.4.13 (which we released yesterday) the messaging now becomes:

[code]

[2017-12-13 06:52] MarcinZablocki commented on #32
@nathan-vu You're right. I didn't noticed the new release, pip uninstall, pip install resolved the problem. Thanks!

[2017-12-13 06:52] #32 closed

[2018-01-08 20:29] nathan-vu commented on #31
Sorry for the delayed response. A wercker.yml file will be available in our next release (Thursday); this will contain three pipelines:

* build-py27
* build-py35
* build-py36

Corresponding to the Python major versions we support. These pipelines can be run in parallel (i.e. they are independent of each other don't need to be executed sequentially)

It looks like I don't have access to: https://a

[2018-01-08 22:30] smak-oracle commented on #3
Gliptak,

    would you mind to check whether this is still an issue?

thanks

[2018-01-09 13:32] gliptak commented on #3
Now I see triplicates:

[code]

[2018-01-09 13:35] gliptak opened #33 "list compartments?"
When trying to list compartments, I get an error that compartment needs to be specified. Am I using this incorrectly? Thanks

[code]

[2018-01-09 21:19] nathan-vu commented on #33
Sorry, it's a little obtuse but if you provide your tenancy's OCID as the compartment ID  does that work?

[code]

[2018-01-10 00:03] nathan-vu commented on #3
Following on from Joe's previously comment, I believe that this will continue to be an issue (apparent duplicates) until the [API](https://docs.us-phoenix-1.oraclecloud.com/api/#/en/iaas/20160918/Shape/ListShapes) returns [results](https://docs.us-phoenix-1.oraclecloud.com/api/#/en/iaas/20160918/requests/Shape) which can distinguish what availability domain they are for.

In terms of current worka

[2018-01-10 19:49] gliptak commented on #33
@nathan-vu Thank you for the pointer. Using the tenancy ID as compartment ID worked. (Now I'm recalling running into this in the past) Should the option be renamed to ```--tenancy-id``` (or is this a hierarchical lookup (compartments in compartments)?

[2018-01-10 19:49] #33 closed

[2018-01-10 23:16] nathan-vu commented on #33
My (somewhat vague) understanding is that it's named `--compartment-id`/`compartmentId` (depending on whether you look at the CLI or the SDK or API) so as not to preclude hierarchical lookups in the future (though I think today there aren't really compartments inside compartments, apart from at the tenancy level)

[2018-01-12 03:45] nathan-vu commented on #31
The wercker.yml file I mentioned in my previous comment has been deployed. Looks like I don't have access to do the configuration in Wercker - if I can be given access I'm happy to set it up on that end, otherwise I believe that pipelines can be set up using our YAML file (I validated it locally using the Wercker CLI)

[2018-01-12 03:45] #31 closed

[2018-01-31 18:21] gcstang opened #37 "Add support for new OCI storage type - File Systems (aka File Storage Service)"
Oracle [recently announced](https://blogs.oracle.com/cloud-infrastructure/introducing-oracle-cloud-infrastructure-file-storage-service) the public availability of Oracle Cloud Infrastructure File Storage Service (FSS) in all OCI regions. Here is the [File Storage Service API](https://docs.us-phoenix-1.oraclecloud.com/api/#/en/filestorage/20171215/).

[2018-02-01 03:53] nathan-vu commented on #37
Thanks for reaching out - support for FSS is currently scheduled for our next release. We'll update this issue when it's out or if there's any news of significance before then

[2018-02-02 19:12] jasonyin opened #38 "--generate-full-command-json-input command doesn't include all required fields"
the json generated here:
xxx-mac~/Documents % oci db system launch --generate-full-command-json-input
{
  "adminPassword": "string",
  "availabilityDomain": "string",
  "backupSubnetId": "string",
  "characterSet": "string",
  "clusterName": "string",
  "compartmentId": "string",
  "cpuCoreCount": 0,
  "dataStoragePercentage": 0,
  "databaseEdition": "STANDARD_EDITION|ENTERPRISE_EDITION|ENTERPRISE

[2018-02-03 23:02] nathan-vu commented on #38
This is intentional - not every CLI operation is 1:1 with an operation in the REST API, so you shouldn't try and marry up the fields like you're trying to do here (admittedly, you'd probably get the right information > 90% of the time, though)

In this case, we do not have a parameter corresponding to the `sshPublicKeys` field that you see in the API documentation because this would be surfaced in

[2018-02-09 01:43] nathan-vu commented on #38
The issue with not showing fields for file-type parameters has been fixed in the latest CLI release

[code]

Note the presence of the `sshAuthorizedKeysFile` field, where a customer should specify the path to the file the command should use for this parameter.

[2018-02-09 01:43] #38 closed

[2018-02-09 17:11] nathan-vu commented on #37
Apologies for the lack of update here. We had a release ([2.4.16](https://pypi.python.org/pypi/oci-cli)) of the CLI yesterday but this doesn't include support for FIle Storage Service.

We encountered some issues while doing this work and so need a bit more time to iterate on this experience for our SDK, CLI and programmatic access customers. We'll post further updates once support is released or

[2018-02-20 17:26] EscVector opened #43 "install.ps1 fails - Directory test not sufficient if key exists but is empty."
Directory test not sufficient if key is empty.

Certain programs like Anaconda or other Python installs that might have installed into the HKLM, if removed, my leave that path blank.  Likewise, with HKCU.  If either of these directory checks returns TRUE, but returns zero child objects, the script fails with

You cannot call a method on a null-valued expression.
At C:\Users\admin72014\Projects\oci

[2018-02-20 18:25] mross22 commented on #43
Thanks for filing this issue and for adding the accompanying pull request!  The change looks good, I want to do some quick validation and then I can sign off so you can merge.

[2018-02-22 00:43] mross22 commented on #43
Closed by pull request #44

[2018-02-22 00:43] #43 closed

[2018-02-23 01:51] tedpearson opened #46 "Add md5-checking mode or retry to `oci os object bulk-upload`"
My usage of the `oci os object bulk-upload` here at the oracle data cloud involves uploading 1.3TB of files each day. If for some reason there are errors when doing that, it would be nice to have a new mode in addition to `--no-overwrite` and `--overwrite` that checked file md5sums before uploading, and only overwrites if the sums don't match.

I know md5sums are stored on upload, so it seems like

[2018-02-23 04:58] nathan-vu commented on #37
We've released v2.4.17 of the CLI and this includes support for File Storage Service. A basic example of calling these operations in the CLI can be found [here](https://github.com/oracle/oci-cli/blob/master/scripts/file_storage_example.sh)

[2018-02-23 04:58] #37 closed

[2018-02-23 18:43] viralmodi commented on #46
Hi Ted,

Thank you for your suggestion. We will look into it and respond back.

[2018-02-28 20:51] jhorwit2 opened #47 "Support for compartment id in profile"
It'd be really nice if we could configure the compartment id in the config as part of the profile since OCIDs aren't something that you can easily just type out on demand. It'll greatly increase the usability of the client.

[2018-02-28 23:24] nathan-vu commented on #47
Sorry if I'm misunderstanding, but I think this is already possible using a CLI configuration file (see: https://docs.us-phoenix-1.oraclecloud.com/Content/API/SDKDocs/cliconfigure.htm#UsingaFileforCLIConfigurations)

As an example, I have my `oci_cli_rc` file with the following:

[code]

So for any command I issue with given profile (`DEFAULT` in this case) the CLI will use the value above wheneve

[2018-02-28 23:26] jhorwit2 commented on #47
Ah yeah that's exactly what I wanted. Definitely missed this on my quick skim 👼

thanks @nathan-vu

[2018-02-28 23:26] #47 closed

[2018-03-02 22:49] pdxkzeerkti opened #49 "OCI CLI installation downgraded 2 of my Python packages"
I installed an unrelated Python program which upgraded `python-dateutils` to 2.6.1 and `crypto` to 2.1.4. Then installing the OCI CLI native on the same host downgraded these packages because the requirements.txt contains e.g. `python-dateutils==2.5.3` viz. `python-dateutils>=2.5.3`. I put in a pull request to prompt some discussion about this - https://github.com/oracle/oci-cli/pull/48/files.

[2018-03-05 22:39] viralmodi commented on #49
Hi Jeff,
Thanks for reporting the issue. We use packages with specific versions to achieve stability and consistency with respect to reproducibility of releases. These packages with specific versions as mentioned in requirements.txt are known to work and are well tested before release. At this point, my suggestion is to use a virtual environment specific to OCI CLI to mitigate the issue you are fa

[2018-03-06 18:15] #49 closed

[2018-03-07 21:39] fkrestan opened #50 "Compartment id is required to list compartments"
**TLDR;** `oci iam compartment list` requires compartment id - this is very confusing.

**Env:**
[code]

**Description:**

Compartment id is required to list compartments:

[code]

While the option is documented to be actually *tenant OCID*, it is very confusing and inconsistent with the rest of the cli:
[code]

If I understand it correctly, compartments can be nested so it actually makes sense to

[2018-03-09 22:24] mross22 opened #52 "Add SMTP credential management for use wtih Email Delivery Service"
Right now Email Delivery service 'sender' and 'suppression' operations are available in the CLI (under ``oci email``) but SMTP credential operations are not.  The workaround is currently to use either the console or one of the SDKs to manage SMTP credentials.  We plan to add this in our next CLI release.

[2018-03-19 14:45] vcsekhar opened #53 "Issue: Lines 76 and 77 fail for $PythonExecutable value containing non-alphanumeric characters like ), ( etc.."
Issue: Lines 76 and 77 fail for $PythonExecutable value containing non-alphanumeric characters like ), ( etc..

Solution that worked for me:

Lines 76 and 77 to be changed to :

[code]

Explanation:
   Instead of trying to escape just spaces (like the current logic), make powershell to call/invoke (using & ) a not-escaped value as is by enclosing it in between ` `.

I forked the install.ps1 with m

[2018-03-26 23:25] mross22 commented on #52
This has been added in version 2.4.19

[2018-03-26 23:25] #52 closed

[2018-04-06 02:49] viralmodi commented on #50
The latest release of OCI CLI (2.4.20) has the fix for this open item.  It allows usage of oci iam compartment list without any arguments. It will take the default as tenancy (root compartment) ID

[2018-04-06 02:49] #50 closed

[2018-04-12 18:37] lee212 commented on #20
@nathan-vu , is this the document about the cli configuration? https://docs.us-phoenix-1.oraclecloud.com/Content/API/SDKDocs/cliconfigure.htm . It seems one you mentioned is moved.

I created `$HOME/.oci/--oci-rc-file` and specified compartment-id and namespace-name as the document instructed but it seems my `oci` CLI does not pick it up unless I specify the location of rcfile like `--cli-rc-file

[2018-04-12 18:48] nathan-vu commented on #20
@lee212 your file name need to be changed. If the file is in `~/.oci/oci_cli_rc` then it will be picked up automatically and you don't have to provide an explicit `--oci-cli-rc` parameter. Please see: https://docs.us-phoenix-1.oraclecloud.com/Content/API/SDKDocs/cliconfigure.htm#UsingaFileforCLIConfigurations

[2018-04-12 19:01] lee212 commented on #20
It worked, Thanks!

I was confused about `~/.oci/--cli-rc-file` at the sub section (_Default Values File Name and Location_) in the document.

[2018-04-12 19:02] nathan-vu commented on #20
We'll get that part of the docs fixed up. Sorry about the confusion here.

[2018-04-19 03:48] gavares opened #57 "Infinite loop when running install.sh with option --accept-all-defaults"
When running install.sh with option `--accept-all-defaults` on a system which as a previous installation of the oci cli in the default location, the installer enters an infinite loop in function `get_install_dir`. The issue appears to be on line 182 which reads:
[code]

and should probably read:
[code]

without this change, the variable `install_dir` is reset to `None` and the encompassing while l

[2018-04-19 03:57] gavares commented on #57
I've submitted a PR for the issue at #58

[2018-04-19 09:53] postak opened #59 "error after installing in non default dirs"
After installing in non default dirs - On my mac I used _/usr/local/lib/oracle-cli_ and _/usr/local/bin_ - I got the following error when running **oci** command:

_Traceback (most recent call last):
  File "/usr/local/bin/oci", line 7, in <module>
    from oci_cli.cli import cli
ModuleNotFoundError: No module named 'oci_cli'_

solved installing oci_cli manually

_pip3 install oci_cli_

[2018-04-19 19:48] mross22 commented on #59
Thanks for filing this issue, we are looking into it and will get back to you soon.

[2018-04-21 00:25] mross22 commented on #57
Thanks for submitting the PR! I have merged it into our repo with a couple changes.  I am closing this issue as it is now fixed in the latest version of the install script.

[2018-04-21 00:25] #57 closed

[2018-04-21 00:27] mross22 commented on #59
This appears to be the same issue mentioned here:
https://github.com/pypa/virtualenv/issues/845

I have submitted a fix here so the latest version of the install script should resolve this issue:
https://github.com/oracle/oci-cli/commit/5657b833bfcf16298d43fb6f0204cd66173c5ac0

Please re-open if you continue to encounter this issue and thanks for bringing it to our attention!

[2018-04-21 00:27] #59 closed

[2018-05-11 12:44] sachin-pikle opened #65 "Unable to install on my Mac due to SSL: CERTIFICATE_VERIFY_FAILED"
Here's the exception ...

-- Downloading virtualenv package from https://github.com/pypa/virtualenv/archive/15.0.0.tar.gz.
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/urllib/request.py", line 1318, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/

[2018-05-15 22:53] smak-oracle commented on #53
thanks your suggestion and fix. we will check it out and merge it  after tested

[2018-05-17 07:11] nathan-vu commented on #65
Apologies for the delayed response here. I suspect that you're running into the issue described here: https://bugs.python.org/issue28150

If you run the script as described in the linked bug report and then try to install the CLI again, does that work?

[2018-05-24 18:44] kjoshi07 opened #68 "Not able to access buckets/objects from OCI CLI"
I have properly seted up OCI at my instance and trying to access buckets/objects from command line but getting NotAuthenticatederror:

 #oci os object list -ns *******-bn ************
ServiceError:
{
    "code": "NotAuthenticated",
    "message": "The required information to complete authentication was not provided.",
    "opc-request-id": "651A4773BFD745919585A7FC2E4CBC00",
    "status": 401
}

[2018-05-25 16:44] nathan-vu commented on #68
Hi,

A couple of things to check:

* For belt and suspenders, confirm that there is clock skew: https://docs.us-phoenix-1.oraclecloud.com/Content/API/Concepts/usingapi.htm#Maximum (I suspect you aren't getting this as otherwise the CLI would print you a warning message)
* Do you have a complete config file at `~/.oci/config` with user, tenancy, fingerprint information etc.
* Is the fingerprint in

[2018-05-30 06:45] kjoshi07 commented on #68
Point 1: Yes bucket exist.
Point 2: I have created a policy with Allow group ********** to manage buckets in tenancy
then assign that user to that Group.
Point 3: oci os ns get give me correct name space and I can also see name on bucket detail they match.

[2018-05-30 06:57] nathan-vu commented on #68
re: the policy you created, did you only give the group permission to manage buckets? If so, then you also need to grant the group permission to manage objects.

Referring to [this](https://docs.us-phoenix-1.oraclecloud.com/Content/Identity/Reference/objectstoragepolicyreference.htm) page, the permission to list objects is independent of the permissions around managing buckets. Specifically, you s

[2018-05-30 15:16] Erniemoore opened #69 "OCI CLI does not pull correct db versions"
When running the CLI to pull DB versions, it does not pull the same list as is provided on the console.

  oci db version list --output table --all --compartment-id <comp id> --region <region name>

The Console allows Version 18, yet the CLI does not extract this

[2018-06-01 14:34] kjoshi07 commented on #68
thank you so much @nathan-vu , I just given permission to manage objects and now I can access bucket.

thanks a ton.
KJ

[2018-06-01 16:10] nathan-vu commented on #68
No worries - glad to hear that it's working now

[2018-06-01 16:10] #68 closed

[2018-06-01 16:21] vish1 commented on #53
@vcsekhar, thank you for the suggested changes. The fix is included in the 2.4.24 release.

[2018-06-01 16:21] #53 closed

[2018-06-01 16:30] vish1 commented on #69
@Erniemoore, can you retry the CLI command with the DB shape option as the console? Without the DB shape option, the CLI lists only the common versions across all shapes.

[2018-06-05 22:42] smak-oracle commented on #65
Did you have a chance to try Nathan's suggestion? If we dont heard back from you, we will close this issue.

[2018-06-06 09:45] Erniemoore commented on #69
Hi @vish1
I can't see how you would specify the console option with the cli
Doesn't appear to be a flag for that

[2018-06-06 11:45] Erniemoore commented on #69
So is 18, not a common version as we can deploy it?

[2018-06-20 20:12] eshneken opened #72 ""oci ce cluster create --generate-param-json-input options" does not work"
The man pages indicate that this option is supported:

The --generate-param-json-input option can be used to generate an exam-
       ple of the JSON which must be provided. We recommend storing this exam-
       ple in a file, modifying it as needed and then passing it back  in  via
       the file:// syntax.

When attempting to run the command the output is:

oci ce cluster create --generate-par

[2018-06-20 20:20] vish1 commented on #72
The option (--generate-param-json-input) is supported for complex type parameters. For the specific command: `oci ce cluster create`, there is only one complex parameter available - service-lb-subnet-ids. Below is an example run for that parameter:

[code]

[2018-06-20 20:34] vish1 commented on #72
All oci commands have an option `--generate-full-command-json-input` (seen by running `oci -h`). This provides a template of the json input that can be filled up and provided as the input to the --from-json paramater.

[code]

Example run for the `oci ce cluster create command`:
[code]

[2018-06-20 20:44] vish1 commented on #3
The availability domain information should now be part of the response for this command. @gliptak,  can you please confirm and close this issue?

[2018-06-20 20:54] eshneken commented on #72
Got it.  Thank you!

[2018-06-20 20:54] #72 closed

[2018-06-29 00:57] vish1 commented on #3
With the addition of the availability domain information, the duplicates problem does not exist anymore. Hence closing this issue for now. Please re-open if that is not the case.

[2018-06-29 00:57] #3 closed

[2018-07-05 16:57] cartershanklin opened #74 "Suggestion: Allow compartment name in addition to compartment-id"
Quality of life suggestion.

Example if I run:
oci os bucket list --compartment-id <giant string> --namespace-name <namespace>

I would prefer to be able to run:
oci os bucket list --compartment <short string> --namespace-name <namespace>

The UI has a tendency to report the compartment name.
This affects a number of areas / commands.

There does not seem to be any way to achieve this with CLI ver

[2018-07-17 19:30] viralmodi commented on #65
Hi Sachin,
I am assuming that Nathan's suggestion worked for you. Since there is no response for quite some time now, I will close this issue. If you are still seeing the issue, please re-open it.

[2018-07-17 19:30] #65 closed

[2018-07-17 19:32] viralmodi commented on #46
We looked into this suggestion and decided as something that is good to have. We will update this thread again when we start working on it.

[2018-07-17 19:38] tedpearson commented on #46
Thanks.

[2018-07-24 21:31] viralmodi commented on #74
Thanks Carter for your suggestion. It seems a useful change; however needs to be thought through as it affects most of the command which use compartment-id. We will get back once we have more info on this request.

[2018-08-07 01:55] rywatabe opened #77 "can not get a string value using --raw-output"
hi, experts

can not get a string value using --raw-output

expected result is ...
[code]
but, actual result is ...

[code]

thanks!

[2018-08-07 15:36] paul-hummel-oracle commented on #77
HI, because this is returning a list, we will have to reduce it to a single element first.
Please try the pipe operator and specify the first index in the list.
For example:

oci network vcn list --compartment-id ocid1.compartment.oc1....... --query 'data[?"display-name"==`'${VCN_NAME}'`].id **| [0]**' --raw-output

[2018-08-08 00:25] rywatabe commented on #77
I understood I have to do "unwrap" operation in order to get what I need.
Thanks :-)

[2018-08-08 00:25] #77 closed

[2018-08-14 06:20] leeadh opened #79 "Issue with downloading"
Dear team,

I am downloading cli using powershell.

I keep getting this error

[](    error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools

    ----------------------------------------
  Rolling back uninstall of cryptography
Command "c:\users\adrlee\appdata\local\programs\python\python37-32\python.e

[2018-08-14 14:18] paul-hummel-oracle commented on #79
Hello leeadh,
I am not familiar with the error you are getting, but I wonder a couple of things -- whether there is a 32 bit/64 bit mismatch between python and the C++ redistributable runtime. Also, is the C++ redistributable runtime in the system path?

[2018-08-28 04:15] woworm opened #81 ""display-name" filter does not work in "oci db autonomous-data-warehouse list""
I used "display-name" filter in "oci db autonomous-data-warehouse list", but it does not work, still show all instances in my account. Like the following:

[oracle@infbjvm118 ~]$ **oci db autonomous-data-warehouse list --config-file ./config --cli-rc-file ./oci-cli-file --display-name adw20180820**
{
  "data": [
    {
      "compartment-id": "ocid1.compartment.oc1..aaaaaaaaztqsn6rp56wtb7nyhfxhg66g

[2018-08-28 05:55] vish1 commented on #81
Hi,

Thanks for reporting this issue. We are looking into it and will provide an update soon.

[2018-08-29 23:56] vish1 commented on #81
Can you run the same command with the debug option ('--debug') and provide the output? Also can you let us know which tenancy are you running this command against? Thanks!

[2018-08-30 01:50] woworm opened #82 "Get "RequestException: HTTPSConnectionPool" when call "oci os""
[oracle@infbjvm118 env]$ oci os ns get --config-file ./config --cli-rc-file ./oci-cli-file
RequestException: HTTPSConnectionPool(host='objectstorage.us-phoenix-1.oraclecloud.com', port=443): Max retries exceeded with url: /n/ (Caused by NewConnectionError('<oci._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f66678e8790>: Failed to establish a new connection: [Errno 113] No route t

[2018-08-30 01:54] vish1 commented on #82
Can you check the network connectivity to oracle cloud servers - are you able to ping objectstorage.us-phoenix-1.oraclecloud.com?

[2018-08-30 02:02] woworm commented on #82
oh, it's unreachable, does it means it's blocked by my side? But I can call other "oci" commands ...

[2018-08-30 02:10] woworm commented on #82
and can create bucket on console

[2018-08-30 02:27] woworm commented on #82
I can ping "objectstorage.us-ashburn-1.oraclecloud.com" , but I didn't find a option to specify the region or ad.

[2018-08-30 02:35] woworm commented on #81
I cannot reproduce this issue now ... I deleted adw instances and recreated, the "display-name" filter can work now. If see it again, I will provide the output.

[2018-08-30 03:26] viralmodi commented on #82
How did you get around it?

[2018-08-30 06:38] woworm commented on #82
hi viralmodi, I put the env which run this command onto an oci compute instance, it can work now. Maybe can bypass it using a ssh tunnel, but I have no time to try it.

[2018-08-30 06:38] #82 closed

[2018-08-31 20:35] RomeshSharma opened #83 "Please can an example be included for oci structured search"
Request to provide an example of oci structured search with pagination option

[2018-08-31 22:29] priteshkp commented on #83
Hey @RomeshSharma ,
   there are some examples here:
https://github.com/oracle/oci-cli/blob/master/scripts/examples/resource_search_example.sh

for pagination, you can just specify the `limit` arg, ex `--limit 10`.  For subsequent pages, take the returned `opc-next-page` value and pass it to the `page` param, ex `--limit 10 --page "<valueFromPreviousCall>"`.

[2018-09-17 17:10] #83 closed

[2018-09-25 17:02] jpoon opened #85 "Homebrew Install"
In case this is helpful for someone, I made a Homebrew formula to help with installing the cli on MacOS:

https://github.com/jpoon/homebrew-oci-cli/

[2018-09-26 14:03] Erniemoore opened #86 "Oracle vcn dns entries"
I can't find a method via the cli to query to the VCN resolver DNs data for ocids that begin
ocid1.vcndnsrecord...

Is there a new method coming out to handle this
I assume it will mean being able to access dbaas vnic and VCN private Ip records

Regards
Ernie

[2018-09-26 21:17] lokeshmadan opened #87 "SSL certificate issue while creating kubeconfig"
I have successfully installed, configured the oci-cli. I have tried fetching information like region list, etc from server to make sure i am able to connect with server, and  end to end communication is successful. Now i tried to download the kubeconfig from already created OKE cluster using below command, and it's throwing SSL certificate errors.

BTW i am on mac

Command :  oci ce cluster create

[2018-09-27 14:50] paul-hummel-oracle commented on #79
@leeadh we will close this ticket if we do not hear back.
thank you

[2018-09-27 14:54] paul-hummel-oracle commented on #85
Very cool!  I see you used virtual environments too.

[2018-09-27 15:13] paul-hummel-oracle commented on #86
@Erniemoore I'm sorry for not quite understanding the ask.
I sometime use jq (https://stedolan.github.io/jq/) to parse the json results from oci commands.

oci network vcn list --compartment-id $COMPARTMENT_ID | jq -r '.data[] | select(.id | contains("ocid1.vcn.oc1.phx")) '

[2018-09-27 17:37] lokeshmadan commented on #87
Resolved the issue.

[2018-09-27 17:37] #87 closed

[2018-09-28 08:55] Erniemoore commented on #86
Hi Paul

Its related to DBaaS on VM and the internal DNS domain

The said entries don't appear in the normal VCN list so i'm trying to track them down

Regards
Ernie

[2018-09-28 09:14] cpruvost opened #89 "Error For patching a DB System from 18.2.0.0 to 18.3"
PS C:\Travail\Travail2019\Demos\InfraAsCode\DbSystem> oci --version
2.4.31

$dbsystemid=oci db system list
--compartment-id="ocid1.compartment.oc1..aaaaaaaach4c3i5kpecjfjqwp3wfjfmbbjniyzieaxhcjs6c73ya2wl6vaxq"
| jq .data[].id
echo

$dbid=oci db database list --db-system-id=$dbsystemid --compartment-id=ocid1.compartment.oc1..aaaaaaaach4c3i5kpecjfjqwp3wfjfmbbjniyzieaxhcjs6c73ya2wl6vaxq
| jq .data[].

[2018-09-28 09:20] cpruvost opened #90 "Error on query with an attribute avuth a "-" in the name"
oci db system list --compartment-id="ocid1.compartment.oc1..aaaaaaaach4c3i5kpecjfjqwp3wfjfmbbjniyzieaxhcjs6c73ya2wl6vaxq" --query "data [?\"display-name\"=='MyTFDatabaseNode'].{Id:id}"

LexerError: Bad jmespath expression: Unclosed " delimiter:
data [?" display-name\=='MyTFDatabaseNode'].{Id:id}

Ty for all

PS : Another question
PS C:\Travail\Travail2019\Demos\InfraAsCode\DbSystem> oci db system

[2018-09-28 23:02] mross22 commented on #90
For the first question, you need to escape the inner quotes, so like this:
`oci db system list -c $C --query "data[?\"display-name\"=='MyTFDatabaseNode'].{Id:id}"`

For the second example you can use the `--raw-output` option to get back just the string value unquoted, assuming your query narrows it down to one single response object, so for example:
`oci db system list -c $C --query "data[0].id"

[2018-10-01 08:49] cpruvost commented on #90
Point 1

- On Oracle Linux Dev CS

+ oci --version
2.4.10
+ oci db system list --compartment-id=ocid1.compartment.oc1..aaaaaaaach4c3i5kpecjfjqwp3wfjfmbbjniyzieaxhcjs6c73ya2wl6vaxq --query 'data[?"display-name"=='\''MyTFDatabaseNode'\''].{Id:id}'
[
  {
    "Id": "ocid1.dbsystem.oc1.iad.abuwcljtxci4exlyiplphv5tl2457smpkrjqxsc6dmb3eygb4tsb4immn64q"
  }
]

- On windows (my laptop)
PS C:\Users\chris> o

[2018-10-02 12:56] paul-hummel-oracle commented on #79
Closing due to inactivity

[2018-10-02 12:56] #79 closed

[2018-10-02 14:16] paul-hummel-oracle commented on #89
@cpruvost Could you try the patch commands again with the --debug option and attach the output.  This should give me more info that I could take to our database team for troubleshooting.

[2018-10-02 14:49] paul-hummel-oracle commented on #90
@cpruvost thanks for including the version number --
The "--raw-output" option was added in 2.4.14 (2018-01-11).

[2018-10-02 15:09] paul-hummel-oracle commented on #90
@cpruvost regarding  Error: Got unexpected extra argument (\MyTFDatabaseNode'].{Id:id})

Please try this:

oci db system list --compartment-id=ocid1.compartment.oc1..aaaaaaaach4c3i5kpecjfjqwp3wfjfmbbjniyzieaxhc
js6c73ya2wl6vaxq --query 'data[?"display-name"==\"MyTFDatabaseNode\"].{Id:id}'

Replaced triple single quotes with backslash double quotes

[2018-10-05 11:52] paul-hummel-oracle commented on #86
Apologies Ernie for the late reply.
I have not tracked them down either.  I suspect I will need to create a feature request to have them exposed.  I still need to follow-up with some partner teams.

[2018-10-12 16:43] schmidtp0740 opened #92 "Feature Request: get wallet from ATP database"
could you add a command that grabs the wallet from autonomous transaction processing?

REST API for such: https://docs.cloud.oracle.com/iaas/api/#/en/database/20160918/AutonomousDatabase/GenerateAutonomousDatabaseWallet

[2018-10-14 05:10] viralmodi commented on #92
@schmidtp0740 Thanks for your request. We will be adding a command for it and you will most likely see it in our next release. Stay tuned.

[2018-10-14 06:02] viralmodi commented on #90
@cpruvost The below command should work for you in windows:
oci db system list --query "data[?\`"display-name\`"==\`"MyTFDatabaseNode\`"].{Id:id}"
Please note there is a backtick after the backslash above.

Also, I don't know why the help message did not get printed properly on your machine but on windows virtualbox I used, I see the below message on giving incorrect escaping in powershell:
If a k

[2018-10-15 15:59] lucianf opened #93 "Support for nested profiles"
Sort of continuation to #47.

My understanding is that right now optional default values go into `.oci/oci_cli_rc` while high-level profile settings (`user`, `tenancy`, `fingerprint`, `key_file`, `region`) go into `.oci/config`.

While it would be easier if all settings lived under one roof, with the current layout of two separate config files, would there be an easy way to support nested profiles

[2018-10-17 07:41] viralmodi commented on #93
@lucianf Thanks for your suggestion. Looks like a good one to have. I will discuss internally with the team and respond back with more updates on this one.

[2018-10-18 16:06] paul-hummel-oracle commented on #86
There is some internal debate as to whether these should be exposed.  I'm sorry this is not work that is being planned.

[2018-10-18 19:41] paul-hummel-oracle commented on #92
@schmidtp0740
We have released the following new commands:
  * (``oci db autonomous-data-warehouse generate-wallet``)
  * (``oci db autonomous-database generate-wallet``)

[2018-10-19 22:17] #92 closed

[2018-10-25 18:15] mross22 opened #97 "Malformed ssh_authorized_keys on instances created using `oci compute-management` operations"
There is a known issue affecting the newly released `oci compute-management instance-configuration create` and `oci compute-management instance-configuration launch-compute-instance` commands in version 2.4.35 of the CLI.

These commands are improperly serializing the ssh_authorized_keys property inside instance metadata, which results in the inability to SSH into the created instances.

Note that

[2018-10-25 18:20] vish1 commented on #85
Sure. We are exploring that and will update when we have more information.

[2018-10-25 18:21] thuymy opened #98 "Error installing Python during CLI install"
Hi,
I'm running Windows 7 64-bit and am getting the following error in my attempt to install CLI.  (Using the same command syntax on Windows Server 2016 Standard 64-bit installs ok.)  Please advise.

Thanks,
Thuymy

Windows PowerShell
Copyright (C) 2009 Microsoft Corporation. All rights reserved.

PS C:\windows\system32> Set-ExecutionPolicy RemoteSigned

Execution Policy Change
The execution polic

[2018-10-25 18:38] jpoon commented on #85
Should be fairly easy to add it to the official tap. I'm happy to submit a PR (https://github.com/Homebrew/brew/blob/master/docs/How-To-Open-a-Homebrew-Pull-Request.md#formulae-related-pull-request), but have been hesitant to do so as I don't want to support it :)

[2018-10-26 18:29] mross22 commented on #97
Fixed in [Release 2.4.36](https://github.com/oracle/oci-cli/releases/tag/v2.4.36)

[2018-10-26 18:29] #97 closed

[2018-10-26 19:20] jabmt opened #100 "Is there a CLI De-Install Method?"
I have a failed install.  I would like to start over and capture all that may have gone wrong.
Per subject, is there a defined deinstall method?

I am on linux.

[2018-10-26 19:29] jabmt commented on #100
Woops!  Thanks for that.  I missed it.

[2018-10-29 14:35] #100 closed

[2018-10-29 14:40] paul-hummel-oracle commented on #85
@jpoon, I am also hesitant to make it official as I don't have an automated test bed for MacOS -- just linux and windows.

[2018-10-29 16:15] jabmt opened #101 "Even more errors during CLI install"
Anyone,

I, too, am having issues installing

Starting here:  https://docs.cloud.oracle.com/iaas/Content/API/SDKDocs/cliinstall.htm
Issueing this:  bash -c "$(curl -L https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh)"

This process never prompts me.  I've attached the log.  It appears Python does install correctly.  But,
at the end of the process, I see these erro

[2018-10-29 17:59] paul-hummel-oracle commented on #98
@thuymy
Windows 7 doesn't have the necessary Powershell version to run the installation script properly.  I don't suppose upgrading to Windows 10 is an option for you.

You could try manually installing Python for Windows 3.6.5 64-bit and then afterwards retry the OCI CLI install.
https://www.python.org/downloads/release/python-365/.

thank you

[2018-10-29 18:21] paul-hummel-oracle commented on #101
Hi John @jabmt,  I think you are missing zlib. What OS are you running?   Assuming some kind of redhat variant, could you try this?
    **_sudo yum install zlib-devel_**

Before running the install script again, and assuming you don't have a previous CLI installation you care about, you could remove this directory:
**_rm -fr /home/opc/dba/oci-cli_**

thank you
Paul

[2018-10-29 18:53] jabmt commented on #101
Paul,
Thank you for your response.    I removed the directory as you show.
Though, I am reluctant to run the original install command again as I sense no change in result:

-- Here, verifying that any "zlib" is installed.
[opc@dev-exapho-vtxg82.pho1pub.otmdevpho.oraclevcn.com:/home/opc/dba]
otmphdb12:>rpm -q zlib
zlib-1.2.3-29.el6.x86_64

-- Here, attempting to install the "zlib-devel"
-----------

[2018-10-29 21:09] paul-hummel-oracle commented on #101
Hi John,

For my test boxes, I have the following in my setup:
	sudo yum -y install patch
	sudo yum -y install gcc libffi-devel python-devel openssl-devel
	sudo yum -y install python-setuptools python-setuptools-devel
	sudo easy_install pip==9.0.3
	sudo yum -y install git-all readline bzip2 sqlite **zlib-devel** bzip2-devel readline-devel sqlite-devel openssl-devel xz xz-devel
	sudo yum -y install

[2018-10-30 02:40] jabmt commented on #101
Paul,

As you may have guessed, my OS knowledge is limited.  But, here are the results of all the commands you listed:

[opc@dev-exapho-vtxg82.pho1pub.otmdevpho.oraclevcn.com:/home/opc/dba]
otmphdb12:>sudo yum -y install patch
Setting up Install Process
No package patch available.
Error: Nothing to do

[opc@dev-exapho-vtxg82.pho1pub.otmdevpho.oraclevcn.com:/home/opc/dba]
otmphdb12:>sudo yum -y ins

[2018-10-30 12:49] paul-hummel-oracle commented on #101
Hi @jabmt, from what you have provided that confirms you will need to setup the yum repos on your instance.  Let me give you some articles to get you started down that path:

This is just a general article and will lack specifics.
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/system_administrators_guide/sec-configuring_yum_and_yum_repositories

This may be slightly

[2018-10-30 22:56] thuymy commented on #98
Thanks @paul-hummel-oracle for the help! I installed Python separately and the OCI CLI is now installed successfully.

[2018-10-30 22:56] #98 closed

[2018-11-01 21:59] paul-hummel-oracle commented on #101
@jabmt someone shared this example of their repo file with me.  You may find it useful.

[ol6_latest]
name=Oracle Linux $releasever Latest ($basearch)
#baseurl=http://public-yum.oracle.com/repo/OracleLinux/OL6/latest/$basearch/
baseurl=http://yum.oracle.com/repo/OracleLinux/OL6/latest/$basearch/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-oracle
gpgcheck=1
enabled=1

[ol6_addons]
name=Oracle Linux

[2018-11-01 22:54] jrsmiley commented on #65
FYI - running the script described in the 3.6 readme fixed this issue for me

[2018-11-02 12:14] paul-hummel-oracle commented on #90
Will close this issue if we do not get further feedback.  Thank you.

[2018-11-02 16:08] jabmt commented on #101
Paul,
Thank you for the info.  It looks like what I need.  I've been sidetracked for the past couple of days.  I will attempt to use this info and update this forum.

Regards,
John

[2018-11-05 10:17] cpruvost commented on #90
Sorry for delay..I tried again....

PS C:\Users\chris> oci db system list  --compartment-id="ocid1.compartment.oc1..aaaaaaaaskpievhn3ik3rlff2tlqpkbrinsht2e5kz
7z636cghpftpkqu6wq" --query "data[?`"display-name`"==`"MyTFDatabaseNode`"].{Id:id}"
If a key name has any characters besides [a-z, A-Z, 0-9, _], it needs to be escaped.
In bash or similar "NIX" based shells used in "NIX" environment, escapin

[2018-11-05 10:28] cpruvost commented on #90
I tried a lot of different things...I got error or no result...if you succeed doing that on windows may be email me the order to run...it seems to be very complex on windows...and we need simple things to run....

[2018-11-05 16:49] craigcarl-oracle commented on #90
@cpruvost this works for me on Windows Server 2016 -
[code]

[2018-11-05 22:47] viralmodi commented on #90
@cpruvost Please read my comment above for more details. In short, this works for me on windows:
oci db system list --query "data[?`"display-name`"==`"MyTFDatabaseNode`"].{Id:id}"

[2018-11-07 16:31] jabmt commented on #101
Paul.

Here is an update.  I installed the zlib-devel rpm manual:

as root:   rpm -ivh /home/opc/zlib-devel-1.2.3-29.el6.x86_64.rpm

As my user (opc), I can confirm that it is installed:

  otmphdb12:>rpm -qa | grep zlib
  zlib-1.2.3-29.el6.x86_64
  zlib-devel-1.2.3-29.el6.x86_64
  [opc@dev-exapho-vtxg82.pho1pub.otmdevpho.oraclevcn.com:/home/opc]

Trying the install script again (after deleting al

[2018-11-07 22:43] paul-hummel-oracle commented on #101
@jabmt You will also need openssl-devel.

Perhaps you can tell your SysAdmin to install CLI, and let them fight through the dependencies.
Hope this helps.

[2018-11-14 18:39] viralmodi opened #103 "CLI installation fails on MacOS Mojave (due to cryptography install failure)"
Issue:
CLI installation fails on MacOS Mojave (due to cryptography install failure).
Error message is as below:
"Failed building wheel for cryptography"

[2018-11-14 18:41] viralmodi commented on #103
This is a known issue with a workaround. We are also working on a long time solution. Below is the summary of the issue and workaround:

Description:
Mojave OS comes with SSL version - LibreSSL 2.6.4
Mojave OS has Python 3.7 as the system python.

There is no pre-built wheel for python3.7 for the cryptography version we use so pip CLI install is building it and then we're hitting this build failur

[2018-11-17 14:55] dbarj opened #105 "NAT Gateway listing function not returning anything"
Just tried several times running the nat-gateway list function and the output is always empty.

$ oci --region us-ashburn-1 --cli-rc-file /dev/null network nat-gateway list --compartment-id xxxx

If I use the optional vcn-id parameter, it makes no difference.

[2018-11-17 18:54] viralmodi commented on #105
@dbarj Can you ensure you do have a nat-gateway created in the tenancy and compartment of your default profile as well as region given in your command (you can check by logging to console once)? Also, if you do any other command like 'vcn list' or 'bucket list', does it work?

[2018-11-18 01:21] dbarj commented on #105
Yes I have. All network commands work but this one. Also, if I use the "oci network nat-gateway get"  giving the OCID it returns, instead of "list", it returns.
Tks.

[2018-11-19 15:46] paul-hummel-oracle commented on #105
Hi @dbarj -- perplexing.  I just created a nat-gateway this morning and was able to get and list it.
oci network nat-gateway create --compartment-id $COMPARTMENT_ID --vcn-id ocid1.vcn.oc1.iad.XXXXXX --region us-ashburn-1
oci network nat-gateway list --compartment-id $COMPARTMENT_ID --cli-rc-file /dev/null --region us-ashburn-1

What version of CLI are you using?
"oci --version"

Did you perhaps cr

[2018-11-20 13:29] dbarj commented on #105
After removing and creating a new NAT Gateway with OCI Cli 2.4.37, I could list it! I was always using the right compartment and region in parameters.

When I created the previous NAT Gateway, this feature was just released, so maybe something was missing that the oci-cli list command could not list it.

Anyway, now it's working. Thank you Paul.

[2018-11-20 13:29] #105 closed

[2018-11-26 19:39] viralmodi commented on #90
@cpruvost Please check my solution above. It works for me on windows. I will close this issue if I don't see any response for another week.

[2018-11-26 20:10] jpoon opened #106 "Feat: A Docker Image with the OCI CLI"
I recently had the need to run the OCI CLI in an isolated environment (e.g. on a CI/CD build machine), it would be great if there was official support for running the OCI CLI in a Docker container.

I ended up creating one here: https://github.com/jpoon/oci-cli-docker such that one could simply run:

[code]

without having the need to download and install the OCI CLI. I can submit a PR to this rep

[2018-11-27 13:46] dieterd opened #107 "Logging"
It would be a nice enhancements if one would see the actual API calls done from the CLI. I can call my services using the CLI, but as I am writing an android app it would be good to see the actual calls done from the CLI to make sure  I can replicate them into my app.

[2018-11-27 18:35] viralmodi commented on #106
@jpoon Thanks for initiating this. We do have docker support for internal use. We will internalize and check on making the support official.

[2018-11-27 18:37] vish1 commented on #107
Hi @dieterd, You can use the '--debug' option for the commands to see the details of the actual API calls made by the CLI.

[2018-11-28 11:39] MadalinaPatrichi commented on #103
I can confirm that this works for me too. Thanks a lot for the workaround!

[2018-11-28 17:45] #107 closed

[2018-11-29 00:19] scorpioliu3 opened #108 "Error installing the CLI on windows"
Hi

when i install the CLI on windows according the document of Quickstart , the error appear.  What can i do?

iex ((New-Object System.Net.WebClient).DownloadString('https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/
install/install.ps1')) : Executing C:\Python37\python.exe C:\Users\scorpioliu\AppData\Local\Temp\tmpDC28.tmp returned a
 non-zero exit code.
所在位置 行:280 字符: 9
+

[2018-11-29 11:48] jabmt commented on #101
@viralmodi , thank you for your response.

I am stuck at a point that I need my system admin to help with the configuration of the yum repository.
As detailed above, the DB servers do not have requisite packages required by the CLI software.

This task has temporarily taken on a lower priority.   I will try to get back to it.

[2018-11-29 11:49] jabmt commented on #101
If it a problem with this as an "open" issue, I am glad to close an start again when I get back to it.

[2018-11-29 11:49] #101 closed

[2018-11-29 15:47] craigcarl-oracle commented on #101
@jabmt re:

are you trying to install the CLI on an OCI DBaaS instance? I don't believe this is currently supported. If you need the CLI on a DBaaS instance please get in touch via email (in my profile) and we will find a solution.

[2018-11-29 17:22] viralmodi commented on #101
@jabmt Thanks for your response. It is okay to keep it as an open issue as long as there is a timeline to it. I was just checking if you had any updates on it. I see that you closed the issue. If you open a new issue for the same in future, you can refer this one to give some context.

[2018-11-29 17:36] bridgem opened #109 "Windows install fails ('openssl/opensslv.h': No such file or directory)"
Installing on Windows 10 fails.  Using python 3.7, VC++ 14.0 installed.

[code]

[2018-11-29 18:32] bridgem commented on #109
Include error solved: I did the following before running the install command in powershell:
[code]
However, and although the libpath seems to be picked up, I still get a linking error with over 1,000 unresolved symbols:
[code]

[2018-12-05 17:16] monktastic commented on #65
So that others don't have to wade through that thread, the command in question is:

`/Applications/Python\ 3.6/Install\ Certificates.command`

And the relevant text is:

[2018-12-11 10:40] mattbordonne commented on #103
Hi.
I'm running MacOS 10.13 (not Mojave) and had the same issue.
This workaround worked for me too, but I also had to install python using Homebrew and not use the one provided by the OS.
Thanks!

[2018-12-11 17:21] viralmodi commented on #90
Closing the issue with the solution provided above.

[2018-12-11 17:21] #90 closed

[2018-12-12 17:41] pranay-oracle opened #111 "jmespath to print without returing quotes"
do we have a an option in oci-cli like one mentioned for AWS
https://github.com/aws/aws-cli/issues/1961 .
We need the json output without  quotes

[2018-12-12 22:00] viralmodi commented on #111
@pranay-oracle You can use `--raw-output` option with OCI CLI command to get output without quotes. Note this only works when the result of JMESPath query is a single string value.

[2018-12-12 23:07] josephholsten commented on #85
@vish1 could you specify what more information you require?

@jpoon what would make you more comfortable with making it official? The readme explicitly gives an install process for Mac. Does the `curl|bash` is have more automated testing as this homebrew formula? Is there a reason we can't trust users to file a bug if things explode?

[2018-12-13 08:39] pranay-oracle commented on #111
unfortunately most of the times return value is a list for almost all the OCI resource and --raw-output is not much of use, I end up doing a awk/grep or sed  on top to achieve.

[2018-12-17 13:53] paul-hummel-oracle commented on #85
@josephholsten I would be more comfortable if I could put in place some automated tests for this. We have such things for linux and windows -- over 20 OS platform regression tests.
Although we have instructions for Mac, we do regularly encounter problems with Mac and sadly do not even have the developer resources to investigate something like Mojave.
Support ~ sustainability ~ commitment

[2018-12-17 18:58] AdityaVishwekar commented on #106
@viralmodi I'm getting following error

[opc@devqa-instance ~]$ docker run -it -v $HOME/.oci:/root/.oci jpoon/oci-cli db autonomous-data-warehouse start --autonomous-data-warehouse-id ocid1.autonomousdwdatabase.## --wait-for-state AVAILABLE
**ERROR: Could not find config file at /root/.oci/config**

Config file is present on host. Still its not able to find inside the container

[opc@devqa-instanc

[2018-12-17 19:12] paul-hummel-oracle commented on #106
@AdityaVishwekar this is not an officially supported feature yet and was not developed by our team.

[2018-12-17 19:36] jpoon commented on #106
@AdityaVishwekar you may want to move this issue over to https://github.com/jpoon/oci-cli-docker.

Unable to repro on my machine, this works fine:

[code]

* Is your `config` well-formed and valid?
* You can run bash inside and debug from within the container to see why your configs are not being mounted properly. The instruction for doing so is on the README: `docker run --rm -it -v ${HOME}/.oci:

[2018-12-18 17:57] phydroxide opened #113 "Install.sh fails on OSX 10.13.6 "Failed building wheel" - openssl not found"
[code]

[2018-12-18 18:01] phydroxide commented on #113
export LDFLAGS="-L/usr/local/opt/openssl/lib"
export CPPFLAGS="-I/usr/local/opt/openssl/include"

https://github.com/pyca/cryptography/issues/3489

[2018-12-18 18:01] #113 closed

[2018-12-18 18:01] phydroxide commented on #113
Self-resolved

[2018-12-18 18:05] paul-hummel-oracle commented on #113
@phydroxide Thanks for fighting through that and leaving the resolution!

[2019-01-10 23:21] wajiii commented on #109
I also had a "File Not Found" issue with "opensslv.h", but in completely different context, MacOS Sierra (10.12.6). Sharing my experience here in case it can help anyone in the future:
Turned out my problem was an openssl installation included in another third-party tool (Octave), as I discovered via  `which openssl` Grew suspicious when `openssl version` returned different info than `brew info op

[2019-01-14 13:39] paul-hummel-oracle commented on #111
@pranay-oracle thanks for your inquiry.  Glad you were able to work around the issue with some post processing through awk/grep/sed.

[2019-01-14 13:39] #111 closed

[2019-01-14 13:42] paul-hummel-oracle commented on #109
@wajiii, thanks for the tips regarding openssl.

We are also experimenting with upgrading package versions to overcome issues on windows 10 + python 3.7.

[2019-01-18 16:42] rfennet commented on #108
Windows 10 PRO version: 10.0.17134. , Python 3.6.5 . Save behavior with Python 3.7.0.

Following instructions on https://docs.cloud.oracle.com/iaas/Content/API/SDKDocs/cliinstall.htm, it seems all commands need to be run from the elevated powershell. However, in my environment , downloading virtualenv package from https://github.com/pypa/virtualenv/archive/15.0.0.tar.gz times out .....

The timeou

[2019-01-18 16:46] paul-hummel-oracle commented on #108
@rfennet,
Thanks for the tips.

FYI, I use commands like this to set the proxy in powershell:
$Env:http_proxy="http://www.XXXXXXXX.com:80"
$Env:https_proxy="http://www.XXXXXXXX.com:80"
$Env:HTTP_PROXY="http://www.XXXXXXXX.com:80"
$Env:HTTPS_PROXY="http://www.XXXXXXXX.com:80"

[2019-01-18 17:39] rfennet commented on #108
Duh ... thanks  Paul, that does the trick. I added only one https line into my PS $profile file (it turns out case does not matter), and then you can run the install command directly from the powershell too. Hope this helps others. BFN

[2019-01-21 03:40] simonpane opened #115 "Fails to install on Windows10 if $env:USERPROFILE has a space"
If the user's profile directory ($env:USERPROFILE) has a space (i.e. "C:\Users\John Doe") then the installation fails.

Call to **$PythonExecutable** in **install.ps1** will fail with error:

`C:\Users\John Doe\AppData\Local\Programs\Python\Python37\python.exe: can't open file 'C:\Users\John': [Errno 2] No such file or directory`

The Python executable file does exist (path is correct) and can be

[2019-01-28 16:22] paul-hummel-oracle commented on #108
With the release of https://github.com/oracle/oci-cli/releases/tag/v2.4.42, we upgraded third party module versions for requests, cx_Oracle, pyOpenSSL, and cryptography. This should resolve many installation issues for Python 3.7 on Windows.

[2019-01-28 16:22] #108 closed

[2019-01-28 23:51] jtpereyda opened #117 "Linux Install Fails"
Running the recommended install script (see https://docs.cloud.oracle.com/iaas/Content/API/SDKDocs/cliinstall.htm) fails on Ubuntu 18.04 with all updates applied as of today:
[code]

[2019-01-28 23:53] jtpereyda commented on #117
Workaround: Works when I run the downloaded script directly, e.g.:
[code]

[2019-01-30 12:54] carlossg opened #119 "Connection broken: IncompleteRead"
[code]

[2019-01-30 12:59] carlossg commented on #119
I got it to work after adding the OKE policy but the error is very confusing

[code]

[2019-02-04 15:31] paul-hummel-oracle commented on #115
@simonpane Thank you for reporting this bug.
We will update this issue when work progresses.

[2019-02-04 15:48] paul-hummel-oracle commented on #117
@jtpereyda
I'm glad you were able to work around this problem and thank you for the workaround.
We have installation test automation for ubuntu 14 and 16 and are adding 18 now.  We are also seeing failures.

[2019-02-05 12:16] paul-hummel-oracle commented on #119
Thank you for the feedback and observations @carlossg.  I'm glad you were able to get over that hump.
As we work on improving docs and error messages for this problem, we will update here.

[2019-02-14 12:12] paul-hummel-oracle commented on #117
I have not been able to reproduce the issue @jtpereyda was observing in our automated testing.

Here are some of the steps we use to prep our Ubuntu boxes prior to CLI install:
    sudo apt-get update
    sudo apt-get --assume-yes install python3-pip
    sudo pip3 install --upgrade pip
    sudo apt-get --assume-yes install build-essential libssl-dev libffi-dev python-dev

However, I did observe th

[2019-02-14 12:12] #117 closed

[2019-02-28 22:50] mross22 commented on #115
@simonpane this issue was fixed as of the following commit:
https://github.com/oracle/oci-cli/commit/617f1fbb43dba7603e988dd6aa786f85ddb34867#diff-0e63e24940bebd5f508dbbd3444c01cb

[2019-02-28 22:50] #115 closed

[2019-03-07 18:24] jtpereyda commented on #117
@paul-hummel-oracle The installer works after I install all those packages. If those are prerequisites, seems like they should be added to the install instructions, or maybe to the script itself.

I was running this on an OCI cloud instance using the provided Ubuntu 18.04 image -- seems like a use case that would be applicable here.

[2019-03-07 20:16] paul-hummel-oracle commented on #117
@jtpereyda that is a fair comment.  I will open an internal ticket to improve our docs for that.
I probably won't ever get it in our installer b/c Debian family and RedHat families of linux have different package management and even Ubuntu 16 to 18 we are now seeing diffs.

[2019-03-07 21:42] paul-hummel-oracle commented on #117
On closer inspection, we should probably just fix the installer.  Thanks again for bringing this to our attention.

[2019-03-22 02:22] narayanaa commented on #117
sudo apt-get update
sudo apt-get --assume-yes install python3-pip
sudo pip3 install --upgrade pip
sudo apt-get install libssl1.0-dev
sudo apt-get --assume-yes install build-essential libssl-dev libffi-dev python-dev

this order worked for me in setting up on WSL Ubuntu 18.04

[2019-04-03 15:45] gotochkin opened #130 "Installation fails with unexpected keyword argument 'allow_abbrev'"
Trying to install it on OL 7.6 with Python 2.7.5 and getting error.

Traceback (most recent call last):
  File "/tmp/oci_cli_install_tmp_mF5w", line 566, in <module>
    main()
  File "/tmp/oci_cli_install_tmp_mF5w", line 496, in main
    parser = argparse.ArgumentParser(description='Install Oracle Cloud Infrastructure CLI.', allow_abbrev=False)
TypeError: __init__() got an unexpected keyword argu

[2019-04-03 15:58] shinystar93 commented on #130
I get the same Error on WIN10:
At line:330 char:9
+         Write-Error "Executing $PythonExecutable $ArgumentList return ...
    + CategoryInfo          : NotSpecified: (:) [Write-Error], WriteErrorException
    + FullyQualifiedErrorId : Microsoft.PowerShell.Commands.WriteErrorException
python --version
Python 3.7.3

Any Ideas or Workarounds ?

[2019-04-03 16:00] paul-hummel-oracle commented on #130
Confirmed problem on MacOS with python 2.7.13 as well.  Investigating. . .

[2019-04-03 16:18] shinystar93 commented on #130
On ubuntu 18 we had a different error: package "distutlis.sysconfig" missing
we managed to install it on ubuntu 18 by executing at first:
   sudo apt-get install python3-distutils

[2019-04-03 16:38] paul-hummel-oracle commented on #130
@gotochkin
Here is a workaround as we work on a fix.  This will involve downloading and editing the install.sh script.

curl -L https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh > install.sh

**Edit install.sh and replace change "INSTALL_SCRIPT_URL"**:
#INSTALL_SCRIPT_URL="https://raw.githubusercontent.com/oracle/oci-cli/v2.5.6/scripts/install/install.py"
INSTALL_S

[2019-04-03 16:42] gotochkin commented on #130
Thanks Paul. It is good to have workaround and I was able to make it working using two different ways but it is more about other users and fixing the problem.

[2019-04-03 17:54] packer-workshop commented on #130
We are working around this same issue on base OL7.6 (Feb22) OCI Base images with:

[2019-04-03 18:00] paul-hummel-oracle commented on #130
@packer-workshop thanks for that too.

[2019-04-03 20:38] viralmodi commented on #130
The issue has been now fixed on the github master branch tip. It has gone through our internal tests and CLI installation now works on different OSes (Windows and various flavors of Linux) with python 2 and 3. You should be able to use the CLI installer (install.sh) the same way as before and it should work correctly.
FYI @gotochkin @packer-workshop @shinystar93 @paul-hummel-oracle

[2019-04-03 20:38] #130 closed

[2019-04-09 14:22] nirvdrum opened #133 "Honor "Content-Encoding" header for os download operations"
The Object Storage Service allows specifying a `Content-Encoding` header so objects can be stored in a compressed format. Web browsers honor content encodings (deflate and gzip), so when viewing a URL for a stored object, the contents are decompressed. The `oci os` subsystem ignores the header and doesn't have an option to configure that behavior, so the objects are always fetched as a compressed

[2019-04-09 16:03] craigcarl-oracle opened #134 "Support opc-multipart-md5 checking"
The CLI should support md5 checksumming for multi-part uploaded objects. By default the CLI uses the multi-part upload feature of the Object Store to improve upload speeds. When the upload is complete the CLI returns the `opc-multipart-md5` value -
[code]
With the CLI in its current state it's impossible to use the `opc-multipart-md5` checksum to verify that the object was successfully uploaded. T

[2019-04-09 16:22] paul-hummel-oracle commented on #133
@nirvdrum Thank you for your suggestion.
Having parity of functionality with a web browser sounds like a good idea for compressed objects.
We will update this issue as work progresses.

[2019-04-11 22:52] vish1 commented on #134
Hi @craigcarl-oracle,

Thanks for the enhancement suggestion.

User can use the following script to calculate the multipart md5 for the file to verify the upload: https://gist.github.com/itemir/f5bc9fded6483cd79c89ebf4ca1cfd30

Sample output:
[code]

[2019-04-12 07:42] luguoxiang opened #136 "oci network public-ip list with AVAILABILITY_DOMAIN scope requires --compartment-id"
When I try to run "oci network public-ip list --scope AVAILABILITY_DOMAIN --availability-domain XXX", the command failed with
'''
Error: Missing option(s) --compartment-id.
'''
Which compartment-id should I use, input tenancy id seems not work

[2019-04-12 17:30] viralmodi commented on #136
@luguoxiang It should be the compartment-id whose public-ip objects you want to list. I tried the same command with root compartment (tenancy -id) and it works for me. When you used tenancy-id, what error did you get?

[2019-04-15 02:19] luguoxiang commented on #136
It seems --availability-domain should using availability-domain name instead of id, after changed to availability-domain name, the command success,

[2019-04-15 02:19] #136 closed

[2019-04-16 18:25] viralmodi opened #137 "CLI installation fails on macOS with SSL Certificate failure"
The issue has been reported by macOS CLI users with Python 3.5, 3.6 and 3.7. Below is the stack trace of the failure with python 3.7:
Traceback (most recent call last):
File “/var/folders/wq/xklj9dpj0dx_9q5q2ymjbfww0000gn/T/oci_cli_install_tmp_XXXX.Se780l5u”, line 135, in create_virtualenv
response = urlopen(VIRTUALENV_DOWNLOAD_URL)
File “/Library/Frameworks/Python.framework/Versions/3.7/lib/pytho

[2019-04-16 18:28] viralmodi commented on #137
This issue has been root-caused. It is due to OpenSSL certificates not being installed while installing latest versions of Python. This is not a CLI error as such but improper installation of Python on macOS.
Below is excerpt from python.org relevant to this issue:
This variant of Python 3.7 includes its own private copy of OpenSSL 1.1.0.  The deprecated Apple-supplied OpenSSL libraries are no lon

[2019-04-17 21:22] gelpenaddict opened #141 "inline_help_dump.txt"
There are several broken links in the documentation or comments to "inline_help_dump.txt".
What happened to this file?

[2019-04-17 21:33] paul-hummel-oracle commented on #141
Hi @gelpenaddict , yikes I refactored that into separate files in directory tests/output/inline-help/ back in September 2018.
I did not realize it was used in documentation.

Would you be able to share a couple of documentation references that are now broken b/c of that change?

thank you!
Paul

[2019-04-17 22:04] gelpenaddict commented on #141
Sure, I actually found the pieces later. It's a good idea.
I just put "inline_help_dump.txt" in github Search "in this repository" and it found 2, the 2nd is in changelog so probably ok:
scripts/examples/tagging_example.sh
CHANGELOG.rst

[2019-04-17 22:06] paul-hummel-oracle commented on #141
Hey, thanks for doing that and pointing out the problem.  I'll get that file updated, and run my own search/grep.
I was afraid there were some Oracle Docs somewhere I did not know about.

[2019-04-24 20:24] #137 closed

[2019-05-02 21:41] manraog opened #142 "Can't create regional subnet"
When I try to create a regional subnet omiting the argument _--availability-domain_ as is especified [on the docs](https://docs.cloud.oracle.com/iaas/tools/oci-cli/latest/oci_cli_docs/cmdref/network/subnet/create.html)
[code]

 It returns:
[code]

On the cli help `oci network subnet create -h`  the argument --availability-domain argument is defined as required.

I don't think this is an issue on t

[2019-05-02 21:49] mross22 commented on #142
Hi @manraog can you check which version of the CLI you are using (`oci --version`)? The regional subnets feature was added in version [2.5.1](https://github.com/oracle/oci-cli/blob/master/CHANGELOG.rst#251---2019-02-21) (released in Feb 2019)

[2019-05-02 22:26] manraog commented on #142
Thanks I updated the pip module but I didn't realize that I have in my path the version installed by the script, I just updated the script installation following [this instructions](https://docs.cloud.oracle.com/iaas/Content/API/SDKDocs/cliupgrading.htm) and I can create regional subnets.

[2019-05-02 22:26] #142 closed

[2019-05-07 21:36] paul-hummel-oracle commented on #141
The text in tagging_example.sh was updated to reflect the new location of the txt files.

[2019-05-07 21:36] #141 closed

[2019-05-09 17:21] paul-hummel-oracle commented on #119
Issue should be resolved. We now have a meaningful message:

oci ce node-pool-options get --node-pool-option-id all
Response:
    "code": "RelatedResourceNotAuthorizedOrNotFound",
    "message": "Unable to retrieve required tenancy details - please ensure OKE service policy is set up correctly.",

[2019-05-09 17:21] #119 closed

[2019-05-14 01:04] craigcarl-oracle commented on #134
@vish1 This is great, let's get it built into the CLI. It should be optional, `--multipart-checksum`.

[2019-05-14 06:44] Antic5 opened #144 "NewConnectionError('<oci._vendor.urllib3.connection."
I cannot upload to the object store. I can ping objectstorage.us-ashburn-1.oraclecloud.com, but cannot upload as I get the error below. I have tried both Mac and Windows and separate networks with the same issue. I have a colleague using the same exact API keys and config that it works fine for. At a bit of a loss here...

The error is as follows from Win PowerShell and same from Mac OS:

oci os o

[2019-05-14 06:58] Antic5 commented on #144
Nevermind, the config I was sent had the wrong URL in it: objectstorage.us-ashburn-1.oraclecloud.com instead of objectstorage-us-ashburn-1.oraclecloud.com

[2019-05-14 15:05] paul-hummel-oracle commented on #144
Glad you were able to figure it out!

[2019-05-14 15:05] #144 closed

[2019-05-15 12:04] paul-hummel-oracle opened #146 "Missing type “emulated” for volume-attachment for CLI"
https://stackoverflow.com/questions/56139015/missing-type-emulated-for-volume-attachment-for-oracle-cloud-cli

Using the GUI there seems to be three different types of volume attachment, ISCSI, paravirtualized and emulated. However, in the documentation, and the Oracle Cloud CLI, it only offers ISCSI and paravirtualized.

$ oci --version
2.5.10

oci compute volume-attachment attach --help
   --typ

[2019-05-15 13:59] craigcarl-oracle commented on #146
Emulated attachments are only supported as the root volume of instances created from images imported into OCI in emulated mode. The type is set automatically when the image is imported and cannot be changed. Emulated attachments are not supported for data volumes and as a result the AttachVolume API call doesn't support an "emulated" option. See https://docs.cloud.oracle.com/iaas/api/#/en/iaas/201

[2019-05-15 18:49] doggydogworld1 commented on #146
Hey Craig, I'm the original poster on stackoverflow.  You say that data volumes do not support emulated type, but this is 100% possible through the GUI.

[2019-05-15 18:59] craigcarl-oracle commented on #146
@doggydogworld1 can you attach a screenshot? Here's what I'm seeing -
![image](https://user-images.githubusercontent.com/20448499/57801585-e233cc80-7708-11e9-8c85-f491b8feea1c.png)

[2019-05-15 20:16] doggydogworld1 commented on #146
![image](https://user-images.githubusercontent.com/50677328/57806296-af430600-7713-11e9-8960-15a28602cb7f.png)

[2019-05-16 17:13] craigcarl-oracle commented on #146
@doggydogworld1 I've confirmed this should work. I can make an emulated attachment to an emulated instance using an older version of the CLI (2.4.4) but not 2.5.

[code]
detached volume...
[code]

[2019-05-16 18:36] viralmodi opened #147 "CLI install failure on Mac OS when installing CLI with optional feature "db" (cxOracle package) and python 2.7"
CLI install failure
OS : MAC VER 10.13.6 (High Sierra)
Python version used 2.7

The error seen is as pasted below:

Last login: Fri Mar 8 15:34:43 on console
rafranco-mac:~ rafranco$ bash -c "$(curl -L https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh)"
% Total % Received % Xferd Average Speed Time Time Time Current
Dload Upload Total Spent Left Speed
100 6283 100

[2019-05-16 18:36] viralmodi commented on #147
This issue was resolved by the customer as follows:

Upgrade the python version to python 3.x (and install the related SSL certificates). Generally using brew install will install the certificates automatically when upgrading to a newer python version.
brew install python3

[2019-05-18 02:44] craigcarl-oracle opened #148 "Use correct endpoints for `oci monitoring metric-data post`"
When attempting to post a metric -
[code]
I receive an error -
[code]
Per the documentation there is no option to change the endpoint - https://docs.cloud.oracle.com/iaas/tools/oci-cli/latest/oci_cli_docs/cmdref/monitoring/metric-data/post.html. Also,
[code]
There is an example (https://github.com/oracle/oci-cli/blob/2ab654c639a50431903dd6b81b0143fb602b0864/scripts/examples/monitoring_metrics_exam

[2019-05-18 16:01] craigcarl-oracle opened #149 "Metrics example does not run -"
The post metrics example [here](https://github.com/oracle/oci-cli/blob/2ab654c639a50431903dd6b81b0143fb602b0864/scripts/examples/monitoring_metrics_example.sh) does not run on Oracle Linux 7.6 -
[code]
Repro:

- [ ] Launch an OCI instance using the current OL 7.6 image (Oracle-Linux-7.6-2019.05.14-0).
- [ ] SSH to the instance.
- [ ] Install the OCI CLI, `sudo yum install -y  python-oci-cli`.
- [

[2019-05-18 16:25] craigcarl-oracle opened #150 "Metrics example `summarize-metric-data` returns an error -"
Using the metrics example [here](https://github.com/oracle/oci-cli/blob/2ab654c639a50431903dd6b81b0143fb602b0864/scripts/examples/monitoring_metrics_example.sh), after correcting for #149, the script returns an error -
[code]
Repro:
- [ ] As in #149 with an added set, replace the first line with `#!/bin/bash -e` before executing the script.
- [ ] Execute the script

Expected behavior:
The script s

[2019-05-19 02:10] paul-hummel-oracle commented on #149
Hello @craigcarl-oracle ,

Confirmed that the script, monitoring_metrics_example.sh, is not correct.
https://github.com/oracle/oci-cli/blob/2ab654c639a50431903dd6b81b0143fb602b0864/scripts/examples/monitoring_metrics_example.sh#L97

Should be
oci monitoring metric-data  summarize-**metrics**-data

not
oci monitoring metric-data  summarize-**metric**-data

[2019-05-19 22:39] #147 closed

[2019-05-20 20:58] vish1 commented on #148
Hi @craigcarl-oracle, --endpoint is a CLI specific option available on all CLI commands. It is documented under the top level CLI help (oci --help). I agree that for telemetry the current way of specifying the endpoints is extra work for users. We will take an item to work on improving this command and provide an update soon.

[2019-05-20 21:44] paul-hummel-oracle commented on #150
Hello @craigcarl-oracle ,

Confirmed that the script, monitoring_metrics_example.sh, is not correct.
https://github.com/oracle/oci-cli/blob/2ab654c639a50431903dd6b81b0143fb602b0864/scripts/examples/monitoring_metrics_example.sh#L97

Should be
oci monitoring metric-data  summarize-**metrics**-data

not
oci monitoring metric-data  summarize-**metric**-data

[2019-05-20 21:46] paul-hummel-oracle commented on #149
FYI, This was not a problem on MacOS:
/usr/bin/env: bash -e: No such file or directory

Unfortunately, we do not have a testbed for validating the examples.

[2019-05-23 21:16] craigcarl-oracle commented on #149
@paul-hummel-oracle I validated it for you. It doesn't work. What's the plan to make it work?

[2019-05-24 21:42] craigcarl-oracle opened #152 "Instance launch using --from-json fails with CreateVnicDetails"
When passing options to `oci compute instance launch` using `--from-json` the launch will fail if the subnetId is supplied via createVnicDetails. The launch will succeed if subnetId is supplied via LaunchInstanceDetails.

[code]
launch_fail.json -
[code]

[code]
launch.json -
[code]

[2019-05-28 14:28] paul-hummel-oracle commented on #152
Confirmed the bug and was able to reproduce.

Also tried the same with the API directly with curl --
https://docs.cloud.oracle.com/iaas/api/#/en/iaas/20160918/Instance/LaunchInstance
https://docs.cloud.oracle.com/iaas/Content/API/Concepts/signingrequests.htm#Bash
The API worked ok, so the problem is isolated to the CLI.

[2019-05-28 15:23] paul-hummel-oracle commented on #149
The fix is in progress.

[2019-05-28 20:04] paul-hummel-oracle commented on #149
This was released today.

[2019-05-28 20:04] #149 closed

[2019-05-28 20:04] paul-hummel-oracle commented on #150
This was released today.

[2019-05-28 20:04] #150 closed

[2019-05-28 20:09] paul-hummel-oracle commented on #146
The fix was released today.

[2019-05-28 20:09] #146 closed

[2019-06-04 19:32] srikanthkumbham commented on #152
@craigcarl-oracle this issue has been fixed in the latest release (`2.5.13`)

[2019-06-04 19:32] #152 closed

[2019-06-08 12:43] wggit opened #155 "Error: Got unexpected extra arguments (–-compartment-id"
Hello,

following commands fails with error:

 oci resource-manager stack list –-compartment-id "compartment id" --config-file "file path" --profile "profile name"

Error: Got unexpected extra arguments (–-compartment-id <compartment id>)

Appreciate help.

Thank you.

[2019-06-10 17:51] skydreamerr opened #156 "Broken link "Command Line Reference.""
On the page https://docs.cloud.oracle.com/iaas/Content/API/Concepts/cliconcepts.htm
click on "Command Line Reference"

[2019-06-10 17:57] paul-hummel-oracle commented on #156
Hi @skydreamerr ,
we have notified our docs team to get this fixed.
As a work around you can try this link:
 https://docs.cloud.oracle.com/iaas/tools/oci-cli/latest/oci_cli_docs/

Seems that it needs the trailing slash.

[2019-06-10 21:21] srikanthkumbham commented on #155
@wggit I verified this command and it works fine for me. Seems like there's some issue in your `–-compartment-id` option. The first character is not a hyphen so CLI is not recognizing it.

Could you please type(instead of copy-paste) the entire command and let us know if the command is working?

[2019-06-10 21:33] wggit commented on #155
Thank you Srikanth. That worked.

[2019-06-10 21:33] #155 closed

[2019-06-10 21:33] wggit commented on #155
Thank you

[2019-06-19 16:47] kennymu opened #159 "oci bv volume delete -volume-id does not delete volume and return ocicli version"
Running an oci bv volume delete --volume-id and specifying the volume ID does not delete a volume and only returns the ocicli version.

[2019-06-19 16:56] paul-hummel-oracle commented on #159
Can you share your output?

I just tried this and it looked ok to me:

$  oci bv volume delete --volume-id x
Are you sure you want to delete this resource? [y/N]:

[2019-06-19 17:09] kennymu commented on #159
Weird.  I updated to version 2.5.14 yesterday to see if that corrected the issue and it still didn’t work.  I hadn’t tried it yet today as I was waiting for the Github email validation to get through our spam filter.  Sorry for wasting your time. It looks to be working 😊  Here's CLI output with compartment and disk IDs removed.

[root@:~/] # oci bv volume create --size-in-gbs 200 --availability-do

[2019-06-19 17:15] #159 closed

[2019-06-25 21:04] vish1 commented on #156
@skydreamerr Issue has been fixed.

[2019-06-25 21:04] #156 closed

[2019-06-25 22:04] maheshwaria commented on #65
Thanks same issue seen with Python 3.7 and fixed by /Applications/Python\ 3.7/Install\ Certificates.command

[2019-06-25 22:45] pblokhin-us opened #161 "OCI SDK on Windows 7: Doesn't reslove private key location correctly"
I have installed OCI SDK on my Windows laptop today, but I am unable to run any commands because the SDK doesn't resolve the location of private key correctly. It is looking under '/home/pblokhin/.oci/oci_api_key.pem', while on my Windows the home directory is c:\users\pblokhin.oradev, and the key file is under c:\users\pblokhin.oradev\.oci\oci_api_key.pem.
Below is the trace:

Traceback (most rec

[2019-06-25 23:23] vish1 commented on #161
@pblokhin-us Can you verify the private key file location in the CLI configuration file?

[2019-06-25 23:46] pblokhin-us commented on #161
Thank you for responding. The location was incorrect, hence the error. With correct location, I am able to run the command but still not going too far:

. : File C:\Users\pblokhin.ORADEV\Documents\WindowsPowerShell\Microsoft.PowerSh
ell_profile.ps1 cannot be loaded because running scripts is disabled on this system.

But this is a different error, and apparently related to my Windows machine setup

[2019-06-25 23:46] #161 closed

[2019-06-25 23:49] vish1 commented on #161
@pblokhin-us See the Windows Section under https://docs.cloud.oracle.com/iaas/Content/API/SDKDocs/cliinstall.htm#InstallingtheCLI. Did you run this command: `Set-ExecutionPolicy RemoteSigned`

[2019-06-26 00:14] pblokhin-us commented on #161
I was able to run the script after setting execution policy to "Unrestricted". Changed to "RemoteSigned" as you suggested, and it also works. Thanks for your help, I am good now.

[2019-06-26 16:37] andrewtvuong opened #162 "oci-cli install failing because of spacing on Windows"
[code]

Fails on both the install.ps1 and install.py scripts found inside ~/oci-cli/scripts/install

Fairly new to Windows syntax, I've tried \(\space), regular expression, quotes. Surprised this isn't a problem for more users.

[2019-06-26 16:43] paul-hummel-oracle commented on #162
Hi @andrewtvuong , thank you for reporting this issue.
We will investigate and update the status when more is known.

[2019-06-26 23:09] paul-hummel-oracle commented on #162
The message "The install directory 'D:\My Data\Desktop\lib\oracle-cli' cannot contain spaces."  is a validation message returned from CLI setup.
This is not a failure per say but rather it is working how designed.

I will create a ticket to consider supporting this in the future.

[2019-06-27 00:23] andrewtvuong commented on #162
@paul-hummel-oracle thanks! The reason I raised the issue is because a lot of the standard Windows images issued include default paths with spaces.

Maybe I can create a pull request too.

[2019-06-27 00:23] #162 closed

[2019-06-27 15:46] paul-hummel-oracle commented on #162
Would be happy to have your contribution.  thank you

[2019-07-04 17:07] shomuxavier opened #164 "ython"

[2019-07-04 17:08] #164 closed

[2019-07-05 17:22] kurtgraustein opened #165 "install.py create_virtualenv should use venv if it exists"
If an approved Python3 installation already exists, install.py does not need to download and install virtualenv.  It can just use venv, instead.  The following are commands I used to edit v2.5.15 of install.py to replace/modify the contents of the create_virtualenv subroutine to do this:

$ sed -i "/^    download_location = os.path.join(tmp_dir, VIRTUALENV_ARCHIVE)$/,/^            shutil.copy(dll,

[2019-07-05 23:47] paul-hummel-oracle commented on #165
@kurtgraustein, thank you for trying this out and making the suggestion.
I found this thread pretty informative too:
https://stackoverflow.com/questions/41573587/what-is-the-difference-between-venv-pyvenv-pyenv-virtualenv-virtualenvwrappe

I think this would be beneficial, as sometimes folks have trouble downloading virtualenv.
We still support python 2 through the end of the year and would need v

[2019-07-07 14:19] kurtgraustein commented on #165
Thanks for the article link.  The following could be the new install logic:
[code]

[2019-07-09 18:31] linqing2004 opened #166 "requirement for httpsig_cffi"
Do you really need this running requirement for httpsig_cffi?
I didn't see anywhere you need it for oci cli.
Remove the unnecessary requirements please.

[2019-07-11 15:48] paul-hummel-oracle commented on #166
Hi @linqing2004, thank you for identifying this. We will check and test whether we can remove this requirement and update this issue with our progress.

[2019-07-26 19:27] sdstewar opened #170 "oci_cli/__init__.py Throwing ValueError when in dist-packages"
https://github.com/oracle/oci-cli/blob/8d20e6e54805a792e9380f5dee52e6e90206d381/src/oci_cli/__init__.py#L30

The above line is throwing a ValueError when packages are pip installed into dist-packages.  Version 2.5.16 works fine.

**Error**
[code]

**Debug**
[code]

[2019-07-26 20:51] vish1 commented on #170
Hi @sdstewar, Thanks for reporting this. Can you provide more details on your system (os, virtual environment) and installation process? We will get back with a fix soon.

[2019-07-26 23:21] sdstewar commented on #170
Ubuntu 18.04 running in Parallels.  It was attempting the install as root using pip (installed via distro's python-pip package).

[2019-07-30 07:31] eugsim1 opened #171 "oci waas access-rule update --generate-param-json-input access-rules fails"
oci waas access-rule update  --generate-param-json-input access-rules fails :

Option access-rules is not a recognized complex type, so no example JSON can be produced. Invoke help for this command (--help/-h/-?) to see available documentation on this option

from the docs :

oci waas access-rule update [OPTIONS]

Required Parameters

--access-rules [complex type]

This is a complex type whose val

[2019-07-30 12:20] eugsim1 opened #172 "oci waas protection-rule list --waas-policy-id $waf_policy_id --all gives wrong results"
there is a serious discrepancy in the  oci   waas protection-rule list  with --all flag
the result is not what is expected much less results are returned
i m trying to create a list and my keys are not there

oci waas protection-rule list --waas-policy-id $waf_policy_id --all | grep OFF | wc -l
the result i WRONG there are much more that the return

 oci waas protection-rule list --waas-policy-id

[2019-07-30 18:33] kumbham commented on #171
@eugsim1 this issue has been fixed in `2.5.20` version. Could you please upgrade the CLI to the latest version and confirm if this is still an issue?

[2019-07-30 22:46] andrew80k opened #174 "Not getting all the results back from query"
I've got nearly 250 instances in this compartment, yet it is only giving me less than 10 back.  Maybe it's something I'm doing wrong, but if it is, it seems I wouldn't get any results back.

`oci --version
2.5.20`

`oci compute instance list -d --compartment-id=${COMPARTMENT_OCID} --all | grep display`

[code]

I've tried pagination and it still just gives the above host list.  If I get an instanc

[2019-07-31 01:31] vish1 commented on #174
Hi @andrew80k, That is unusual. I am able to get more than 10 results with the same command. Can you check if you have any default settings in the oci_cli_rc file (https://docs.cloud.oracle.com/iaas/Content/API/SDKDocs/cliconfigure.htm)?

[2019-07-31 08:22] eugsim1 commented on #171
Hi now it works with  oci -v
2.5.21

It would be useful to have a warning from the oci that a new version is available

I m hitting now a new issue i will open another case but FYI now the compartemt-id is not taken from the config DEFAULT section any more

 oci waas waas-policy list --output table --query "data [?\"lifecycle-state\"== 'ACTIVE'].{OCID:\"id\",DISPLAY:\"display-name\",RUNNING:\"life

[2019-07-31 08:22] #171 closed

[2019-07-31 08:23] eugsim1 opened #175 "oci cli 2.5.21 doesnt get correctly values from the config file"

[2019-07-31 08:26] eugsim1 commented on #175
oci waas waas-policy list --output table --query "data [?\"lifecycle-state\"== 'ACTIVE'].{OCID:\"id\",DISPLAY:\"display-name\",RUNNING:\"lifecycle-state\"}"
Usage: oci waas waas-policy list [OPTIONS]

Error: Missing option(s) --compartment-id.

however the compartment-id is on my default profile on the ./oci directory as:

[OCI_CLI_SETTINGS]
default_profile=DEFAULT

[DEFAULT]
compartment-id=ocid1.

[2019-07-31 11:12] eugsim1 commented on #175
i have created an oci_cli_rc and i have added the compartement-id and now it works without asking the --compartement-id strange

[2019-07-31 11:12] #175 closed

[2019-07-31 11:13] eugsim1 commented on #174
Have you tried with the -d flag to see what the cli is doing ?

[2019-07-31 12:28] andrew80k commented on #174
Thanks for jumping in @eugsim1, however, the output above is using the -d flag.

[2019-07-31 12:30] andrew80k commented on #174
@vish1,

Thanks for the suggestion, there is almost nothing in my config though, just a region, and my creds.  Not sure how that would cause the behavior above.

[2019-08-01 14:30] eugsim1 commented on #172
Hello
I have created the json file from the output of the command :

 oci waas threat-feed  update  --generate-param-json-input  threat-feeds

[
    {
      "action": "DETECT",
      "key": "bb4d6030-9866-4b76-95a6-88af857c1d7f"
    },
    {
      "action": "DETECT",
      "key": "cb24b9d5-eed1-4255-be21-1f218270fb08"
    }
]

cat tread-1.json
[
    {
      "key": "bb4d6030-9866-4b76-95a6-88af857c

[2019-08-01 14:31] eugsim1 opened #177 "oci waas threat-feed update --threat-feeds --waas-policy-id $waf_policy_id --from-json file://tread-1.json Parameter 'from-json' must be in JSON format."
Hello
I have created the json file from the output of the command :

oci waas threat-feed update --generate-param-json-input threat-feeds

[
{
"action": "DETECT",
"key": "bb4d6030-9866-4b76-95a6-88af857c1d7f"
},
{
"action": "DETECT",
"key": "cb24b9d5-eed1-4255-be21-1f218270fb08"
}
]

its a valid json file

jslint confirm this as well but the command fails
the oci waas threat-feed update fails

Why

[2019-08-01 16:58] kumbham commented on #177
@eugsim1 `--from-json` accepts JSON object and the file contents should be something like this:

[code]

If you are only reading `threat-feeds` from the file, you can directly read it from the file(without using from-json option) something like this:
[code]

More info on JSON input can be found here: https://docs.cloud.oracle.com/iaas/Content/API/SDKDocs/cliusing.htm#AdvancedJSONOptions

[2019-08-01 22:32] kumbham commented on #172
@eugsim1 thanks for reporting this. I have filed an issue against the service team internally, will keep you posted on the updates.

[2019-08-07 08:47] soffensive opened #180 "Protect Authentication Token File"
The security_token_file is not protected as the other files during the config setup. See also: https://github.com/oracle/oci-cli/pull/179

[2019-08-07 10:52] eugsim1 commented on #177
thanks a lot

[2019-08-07 10:52] #177 closed

[2019-08-07 11:52] eugsim1 opened #181 "cant update settings with the oci cli on the waf protection policies"
i m trying to update just a field in the json file
{
    "allowedHttpMethods": [
        "GET",
        "POST",
        "HEAD",
        "OPTIONS"
    ],
    "blockAction": "SET_RESPONSE_CODE",
    "blockErrorPageCode": "403",
    "blockErrorPageDescription": "Access blocked by website owner. Please contact support.",
    "blockErrorPageMessage": "Access to the website is blocked.",
    "blockRespo

[2019-08-12 18:47] vish1 commented on #170
@sdstewar, This issue has been fixed in Version 2.5.22, Please test it out and let us know

[2019-08-12 18:47] vish1 commented on #166
hi @linqing2004, We have removed this dependency in Version 2.5.22.

[2019-08-12 18:47] #166 closed

[2019-08-15 05:48] udaykanamaneni opened #183 "setting up OCI CLI on mac, but the package dont install as expected. Getting the below error"
dhcp-10-159-254-207:ssh ukanaman_mac$ bash -c "$(curl -fsSL https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh)"

    ******************************************************************************
    You have started the OCI CLI Installer in interactive mode. If you do not wish
    to run this in interactive mode, please include the --accept-all-defaults option.

[2019-08-15 12:40] paul-hummel-oracle commented on #183
@udaykanamaneni
Please try running /Applications/Python 3.7/Install Certificates.command followed by running CLI Installer.

[2019-08-15 21:23] udaykanamaneni commented on #183
Thank you Paul!!
This worked . appreciate your help

[2019-08-15 21:23] #183 closed

[2019-08-16 17:49] paul-hummel-oracle commented on #180
Thank you for filing this bug. We will schedule this work and update this issue as progress is made.

[2019-08-20 19:28] #170 closed

[2019-08-20 19:29] #103 closed

[2019-08-23 17:14] paul-hummel-oracle commented on #181
Hi @eugsim1 , we engaged the team responsible for maintaining the backend service and they pointed-out this part of the error message:

_Response body inspection cannot be enabled due to GZIP compression enabled for the origin servers at the Origin Servers settings_.

[2019-08-23 17:18] paul-hummel-oracle commented on #174
@andrew80k I noticed you have "grep display".  Is it possible that some of these instances don't have a display name?

[2019-08-23 17:21] paul-hummel-oracle commented on #172
Internally tracking as WAF-419.

[2019-08-23 17:22] paul-hummel-oracle commented on #181
Internally tracking as WAF-419.

[2019-08-26 09:09] slmjy opened #185 "volume-attachment list is not picking up the compartment-id setting from config"
**Steps to reporoduce:**

Have a valid `compartment-id=` setting in `~/.oci/config`
Get and instance from this compartment works.
[code]
Getting *the same instance* volume-attachments
[code]
Gives an error 😿 :
[code]

[2019-08-26 12:10] paul-hummel-oracle commented on #185
The first command does not require compartment-id.
`$ oci compute instance get
Usage: oci compute instance get [OPTIONS]
Error: Missing option(s) --instance-id.`

Regarding the second command which does require compartment-id, it should go in ~/.oci/oci_cli_rc and not ~/.oci/config.

`[DEFAULT]
compartment-id=ocid1.compartment.oc1.. . . . . .`

[2019-08-26 13:13] honzajavorek commented on #85
Would having macOS CI help? [CircleCI](https://circleci.com/) has macOS builds and is free for OSS, so it wouldn't probably need to go through much corporate hassle.

[2019-08-26 17:36] slmjy commented on #185
@paul-hummel-oracle Thank you for the clarification, my bad...then the issue is almost invalid. Although I'm still confused, if the cli can get the instance information having just `instance-id`, getting the `compartment-id` seems trivial, so why require `--compartment-id` when `--instance-id` is provided

[2019-08-26 18:22] slmjy commented on #185
@paul-hummel-oracle It is required for `oci compute volume-attachment list` even if `--instance-id` is supplied. I understand now that it's just a filter, that seems to be applied after volume attachments were retrieved for the compartment. I guess it could be an enhancement to detect the compartment automatically when the `--instance-id` parameter was supplied

[2019-08-26 20:42] slmjy commented on #185
Should I change the issue to properly reflect the outcome of our discussion?

[2019-08-27 09:33] glaubitz opened #187 "Testsuite requires OCI account to run"
I'm currently packaging ```oci-cli``` for openSUSE and SUSE Linux Enterprise distributions.

While creating and building the RPM package is rather simple, it's not possible to enable the testsuite so it's run during package build as the testsuite apparently requires an OCI account:

[code]

Would it be possible to provide a (simplified) offline version of the testsuite so that we can enable it for

[2019-08-27 12:37] honzajavorek opened #188 "Official stance on supporting Python 2"
Hi, I noticed the setup.py declares the OCI CLI supports being installed on both Python 3 and Python 2. Just out of curiosity, do you have an idea whether you plan to support Python 2 [even after it retires in 4 months](https://pythonclock.org/)?

[2019-08-27 12:52] honzajavorek commented on #188
Thank you!

[2019-08-27 12:52] #188 closed

[2019-08-27 13:05] glaubitz opened #189 "oci-cli is incompatible with click 7.0"
While packaging ```oci-cli``` for openSUSE/SLE I noticed that the package is incompatible with ```click``` 7.0.

Running the ```oci``` will produce the following backtrace when ```click``` 7.0 is installed:

[code]

Downgrading ```click``` to 6.7 fixes the problem. However, openSUSE Tumbleweed already ships ```click``` 7.0, so ```oci-cli``` should be updated to support the new API.

[2019-08-27 13:54] glaubitz commented on #187
Ah, that should be suitable then. The idea for running the testsuite for RPM builds is to be able to catch regressions early on if some of the dependencies of the ```oci-cli``` get updated.

For example, the regression with ```click``` 7.0 which I reported in #189 would have been caught in SUSE's Open Build System (OBS) after a new version 7.0 of the ```python-click``` RPM package was uploaded.

[2019-08-27 13:57] glaubitz commented on #189
Yes, I'm aware of that. However, we can only support software in SUSE Linux Enterprise for our paying customers which we are shipping in the form of RPM packages. So, virtual environments are unfortunately not an option here. Of course, SLE customers can and will sometimes use virtual environments, but usually we are expected to provide RPM packages which receive support from SUSE.

[2019-08-27 14:25] glaubitz commented on #187
I have tried running solely the unit tests with ```py.test -s tests/unit``` but I'm still running into the same error:

[code]

Is there anything else I need to do to be able to run unit tests only?

[2019-08-30 19:12] smak-oracle commented on #189
The new Click library doesn't support python 2. we can't upgrade it until we decide no longer support python 2. We have to balance customer needs.

[2019-08-30 19:20] smak-oracle commented on #189
and we will upgrade Click when we deprecate Python2 at the end of year.

[2019-09-02 20:01] jpoon commented on #85
I think there's a misunderstanding of @honzajavorek's suggestion. CircleCI hosts their own macOS builds and is free for OSS projects; there would be no need to maintain your own Mac servers.

[2019-09-09 12:37] paul-hummel-oracle commented on #180
This fix was released on 9/3.

[2019-09-09 12:37] #180 closed

[2019-09-09 12:43] glaubitz commented on #187
Is there a solution now? It would be nice to be able to run at least some unit tests.

[2019-09-09 12:49] paul-hummel-oracle commented on #187
Hi @glaubitz,
Sorry I closed this b/c I didn't see a response since my last comment.
Were you able to try this?
Unit tests can be executed without an account.  But having correct environment and setup is necessary.

[2019-09-09 13:02] glaubitz commented on #187
I have played a bit with that, but were not able to succeed. I will give it another shot later this week once I find the time.

[2019-09-11 21:01] Erniemoore opened #193 "Marketplace images"
Is there a way to pull marketplace image and other data out of OCI

[2019-09-12 07:28] SteveMayze commented on #137
I am facing the same issue. Before I go down the route of this workaround, I was wondering why the install script must download another version of Virtualenv when I already have it installed? The script can successfully detect that I have python3 but does not consider that I could already have virtualenv.

virtualenv --version
15.1.0

[2019-09-13 19:20] LiamAtOracle opened #194 "Announcements time types broken"
Looks like since the OCI update the data for Announcements is different. When retrieving the announcements via the oci cli. This also effects the python module.
OCI version: 2.6.1
OS: Mac os X

command:oci announce announcements list --compartment-id ocid1.tenancy.oc1..aaaaaaaa4lr6ivwmsh3ddhd7srz753iaz6ixyzb56uuq3tqw5shwl5y73z5q
TypeError: must be string, not int

With python module.

Traceback (m

[2019-09-15 20:13] Noam-T opened #195 "Using the Powershell script and Getting error calling LaunchInstance to create new instance"
Hi,

I know this is the CLI area but I think it could be similar enough.
I am using the PowerShell script to call the OCI REST API's.
The GET and some POST are working fine.
The LaunchInstance returns a generic error (400) Bad Request without any details.

Thanks,
Noam

The PS Command line: .\oci-rest.ps1 -method post -ocihost iaas.eu-frankfurt-1.oraclecloud.com -target "/20160918/instances" -body

[2019-09-16 13:15] dariagrudzien opened #196 "Health Checks: intervals & timeouts out of sync with GUI"
When creating the HTTP and ping monitors and setting the values for timeouts and intervals we noticed that they don't reflect what is available in the GUI:
https://docs.cloud.oracle.com/iaas/tools/oci-cli/latest/oci_cli_docs/cmdref/health-checks/http-monitor/create.html
https://docs.cloud.oracle.com/iaas/tools/oci-cli/latest/oci_cli_docs/cmdref/health-checks/ping-monitor/create

The GUI values pro

[2019-09-16 13:21] dariagrudzien opened #197 "Health Checks: missing validation"
We found two places in which validation is missing:

- When creating HTTP monitors and making mistakes in targets (not separating the path from the host), the monitor still gets created but with incorrect target. We noticed that this validation exists in the GUI.
- When creating either HTTP or ping monitors with timeout set to 60s, the monitor gets created but the timeout is not set (related to #1

[2019-09-16 13:23] dariagrudzien opened #198 "Health checks: missing support for POST in HTTP monitors"
It would be really useful if HTTP monitors supported the POST method in addition to GET and HEAD https://docs.cloud.oracle.com/iaas/tools/oci-cli/latest/oci_cli_docs/cmdref/health-checks/http-monitor/create.html#cmdoption-method

[2019-09-16 14:11] kensthilaire commented on #197
Thank you for reporting these issues with the HealthChecks API. We'll have a look and make any necessary corrections in an upcoming version of the API.

[2019-09-17 18:16] jodoglevy commented on #194
This is an issue in the announcements service, they are working on fixing it at the moment

[2019-09-19 18:23] paul-hummel-oracle commented on #195
I am also experiencing a problem with this API. I tried to reduce the values being passed to narrow down the problem, but still had no luck.

{
"availabilityDomain": "Iocq:PHX-XX-1",
"compartmentId": "ocid1.compartment.oc1..aaaaaaaa......",
"displayName": "Test",
"imageId": "ocid1.image.oc1.phx.aaaaaaaa.........",
"shape": "VM.Standard2.1"
}

[2019-09-19 18:31] paul-hummel-oracle commented on #195
Tried similar with the equivalent bash shell script, oci-curl.sh and also had a problem:

$ ./oci-curl.sh
{
  "code" : "InvalidParameter",
  "message" : "Invalid availabilityDomain"
}
400

[2019-09-19 18:37] paul-hummel-oracle commented on #195
Even CLI provides an error:
$ oci compute instance launch --availability-domain Iocq:PHX-AD-1 --compartment-id $OCI_CLI_COMPARTMENT_ID --shape "VM.Standard2.1"
ServiceError:
{
    "code": "InvalidParameter",
    "message": "Invalid subnet: null",
    "opc-request-id": "307290754D714C539D9E83376A7EF39B/9EA5528B6904EA3D0CCFE18EBB5E50FC/09FFEDC144B88C625C08F002A38DB38A",
    "status": 400
}

[2019-09-19 21:13] paul-hummel-oracle commented on #195
@Noam-T
After adding "subnetId" to the post body, it worked for me.

{
"availabilityDomain": "Iocq:PHX-AD-1",
"compartmentId": "ocid1.compartment.oc1..aaaaaaaa......",
"displayName": "PdhTest",
"imageId": "ocid1.image.oc1.phx.aaaaaaaa......",
"shape": "VM.Standard2.1",
"subnetId": "ocid1.subnet.oc1.phx.aaaaaaaa....."
}

I'm not 100% sure whether this is a documentation bug or a service bug.

[2019-09-20 04:37] PeterMerkert opened #200 "Install script for OCI CLI version 2.6.4 (or later)"
Hi there,

in OCI, it requests me to update to OCI CLI 2.6.4 or later to access the kubeconfig. It even says the change is mandatory till November 15th 2019 otherwise the access get's locked.
Now, I want to upgrade and the install script has not been updated to a later version, which is linked in the all-mighty command I want to use
[code]

Can you help me to install the latest OCI CLI?

Thank you

[2019-09-20 04:49] PeterMerkert commented on #200
Hi, sorry, was a little bit pre-emptive writing the ticket, since I actually just analysed the files before installing them. But after giving up understanding the magic and just executed the magic all-mighty command, it installed OCI CLI 2.6.5 successfully.

[2019-09-20 04:49] #200 closed

[2019-09-20 12:49] #193 closed

[2019-09-22 07:47] Noam-T commented on #195
Hi Paul,

Thanks you very much for your help.
I tried the json that you suggested and still the same generic error.
Unfortunately, I am not that familiar with Powershell to debug it properly.
I did notice that I get HTTP error "404 not found"  and not "400 bad request".
So I used the one of the default subnet ID and not the subnet I created and started to get "400 bad request".
I am trying to use

[2019-09-22 10:50] dibar89 opened #201 "Namespace wrong while using create_backup_from_onprem"
Hi Team,

I am an encountered an issue while creating database backup using create_backup_from_onprem script in OCI CLI.  i noticed object storage namespace is not correct while executing backup script.

Getting error while running create_backup_from_onprem

`oci._vendor.requests.exceptions.HTTPError: 404 Client Error: Not Found for url: https://swiftobjectstorage.ap-mumbai-1.oraclecloud.com/v1/db

[2019-09-22 10:51] dibar89 opened #202 "Namespace wrong while using create_backup_from_onprem"
Hi Team,

I am an encountered an issue while creating database backup using create_backup_from_onprem script in OCI CLI.  i noticed object storage namespace is not correct while executing backup script.

Getting error while running create_backup_from_onprem

`oci._vendor.requests.exceptions.HTTPError: 404 Client Error: Not Found for url: https://swiftobjectstorage.ap-mumbai-1.oraclecloud.com/v1/db

[2019-09-23 14:23] paul-hummel-oracle commented on #202
closing as duplicate to #201

[2019-09-23 14:23] #202 closed

[2019-09-23 14:50] #86 closed

[2019-09-23 15:01] paul-hummel-oracle commented on #195
I'm not that strong with Powershell either, and that's why I tried using CLI and oci-curl to see if I could get the same working in a different tool to make sure the API and privs were good.
When you use CLI with --debug option, you can see the json it sends to the server.

Perhaps you can add "echo" or "Console.WriteLine" statements to the Powershell to help debug.

[2019-09-23 20:17] paul-hummel-oracle commented on #201
Cross referencing to stackoverflow in case it gets answered there:
https://stackoverflow.com/questions/58048642/oci-cli-create-backup-from-onprem-script-error/58069636#58069636

[2019-09-24 06:58] Noam-T commented on #195
Hi Paul,

With much luck, I found the problem yesterday. It was the Tenant limits.
Because I did not get any specific error, it took a while to find it.
BTW, I used your JSON.

Thanks a lot for your help,
Noam

[2019-09-24 06:58] #195 closed

[2019-09-25 16:02] LiamAtOracle commented on #194
Do we know if that fix is annotated somewhere? Like in a ticket or communication?

[2019-09-25 22:50] jodoglevy commented on #194
The announcements team today said they have fixed this issue. Closing this.

[2019-09-25 22:50] #194 closed

[2019-09-27 06:54] vish1 commented on #134
This feature is part of the latest release 2.6.6 - see [https://github.com/oracle/oci-cli/blob/master/CHANGELOG.rst#266---2019-09-24](release notes)

[2019-09-27 06:54] #134 closed

[2019-09-27 14:43] dbarj opened #204 "Wrong json output format for "oci audit event list" with streaming enabled if output is null."
I have a code that will loop over all regions and compartments and create the json output for audit events. The problem is that some compartments/regions have nothing to return.

$ oci -v
2.6.6

When I run it without the streaming:
[code]

With streaming:
[code]

The json output for streaming is invalid. It should be:
[code]

And if for some reason my privileges are revoked, the error become even

[2019-09-27 15:28] paul-hummel-oracle commented on #204
@dbarj thank you for reporting this issue. We will investigate and post updates here.

[2019-10-03 11:39] Erniemoore opened #206 "bulk pulls of data from OCI"
In pulling data from OCI using the CLI we are experiencing hangs at irregular intervals.

Is there a contact who can help understand why this happens?

Is there a better way to do bulk pulls of data from OCI that we can use for management purposes other than using the CLI?

[2019-10-08 14:21] paul-hummel-oracle commented on #206
@Erniemoore would you be able to reproduce the problem and include the "--debug" option and capture the output and include it here?

[2019-10-08 19:50] wggit opened #208 "TypeError: update_database() got an unexpected keyword argument 'backup_destination'"
oci --version
2.6.7

command:

oci db database update --database-id <db ocid>  --defined-tags file://$JSON_FILE  --config-file /usr/.oci/config  --profile <profile_name> --force

Error:

TypeError: update_database() got an unexpected keyword argument 'backup_destination'

Thank you.

[2019-10-08 22:40] srikanthkumbham commented on #208
@wggit thanks for reporting this. Seems like this bug was introduced recently, we will provide the fix ASAP.

[2019-10-08 23:05] srikanthkumbham commented on #208
meanwhile as a workaround, please pass `--auto-backup-enabled` option with a default(false) value.

oci db database update --database-id --defined-tags file://$JSON_FILE --config-file /usr/.oci/config --profile <profile_name> --auto-backup-enabled false/true

[2019-10-09 13:06] paul-hummel-oracle opened #209 "'oci db database update' broken in v2.6.5- v.2.6.8."
This is a duplicate to https://github.com/oracle/oci-cli/issues/208.

[2019-10-11 17:53] wggit opened #211 "Error: No such command "nsg"."
Hello,

I am using oci cli 2.6.7.
Using oci lb nsg update giving error Usage: oci lb [OPTIONS] COMMAND [ARGS]...

Error: No such command "nsg".

command:
oci lb nsg update --load-balancer-id <> --config-file <> --profile <>

Document link for 2.6.8 has nsg option - https://docs.cloud.oracle.com/iaas/tools/oci-cli/latest/oci_cli_docs/cmdref/lb/nsg/update.html

Do I upgrade to 2.6.8?

Thank you.

[2019-10-11 18:15] #211 closed

[2019-10-14 01:20] matthewshannon commented on #134
I've created Java code here to do similar multipart upload opc-multipart-md5 header verification/validation.

https://gist.github.com/matthewshannon/891ac1359a540fd8322e6049f153c1b7

[2019-10-14 10:17] eugsim1 opened #212 "oci waas waf-log list doent get any logs from waaf"
oci waas waf-log list \
--waas-policy-id  ocid1.waaspolicy.oc1..aaaaaaaaqaxiq4pepvbpzlg3q6w5xadx354cu2ap245rm7msmtoqc42q56nq

Logs from the GUI

/ | 141.143.213.37 |   | Access | Mon, Oct 14, 2019, 10:15:54 UTC
-- | -- | -- | -- | --

i m getting empty lists ... command broken

[2019-10-14 12:25] paul-hummel-oracle commented on #85
Note: We spoke to CircleCI last week.  They do not offer any free tier for MacOS servers.

[2019-10-15 19:31] corso75 opened #213 "Only "oci session" and "oci setup" are available. Other commands missing."
After run "oci" the help is shown but there are only two supported commands are displayed:

The try to get a namespace from oci using the command "oci os ns get" failed with the error:

The other commands return the same error.

P.S. The oci-cli version 2.5.1 works.

[2019-10-15 19:49] paul-hummel-oracle commented on #213
@corso75 thank you for reporting this bug.
I suspect you have found something that might be related to the specifics of installation.
We do have other users using v2.6.8.

What version of python are you using and on what platform?
Also, what method did you use to install/update the CLI?

The service subcommands such as "os" are dynamically discovered. Is there anything about your setup that might

[2019-10-15 20:03] paul-hummel-oracle commented on #213
Somewhere before v2.5.22 we redid some of this "discovery" code I mentioned, so it makes sense that v2.5.1 behaved differently.

[2019-10-15 20:03] corso75 commented on #213
Host is Ubuntu 18.04.
Create virtualenv:

Activate:

Installation oci-cli:

Python path:

Python version:

So i guess the first path is used to run Python.

[2019-10-15 20:12] corso75 commented on #213
i see that the structure of packages in the "\~/virtualenv_workspace/oci_cli/lib64/python3.6/site-packages" is different from 2.5.1. There are no any packages like "oci_cli_*" in the "site-packages" except: oci-2.6.0.dist-info, oci, oci_cli, oci_cli-2.6.8.dist-info.
All packages with the names starting from "oci_cli_" are located in the folder "site-packages/services" in the subfolders like "~/vir

[2019-10-15 20:18] paul-hummel-oracle commented on #213
Great, thanks for the details.  Let me try that out.

We hadn't made the switch to using venv from virtualenv yet b/c of py2.  Plan to do that later this year or early next year when we end support for py2.

[2019-10-15 21:23] corso75 commented on #213
Doesn't matter to use virtualenv or venv. I tried with virtualenv too. The same result.
Create:

Installl:

Activate:

Execute:

[2019-10-15 22:03] corso75 commented on #213
paul, would you show the structure of Python "site-packages" in your virtual environment? I want to see where the "oci_cli_*" packages are located for the working variant of oci_cli v2.6.8.

[2019-10-15 22:10] paul-hummel-oracle commented on #213
@corso75 I was able to repro the problem you are seeing.
We have a bug that needs some investigation.  But in the meantime, if you rename your virtual environment to something other than "oci_cli", I think that will work.  This worked for me:

python3 -m venv ocicli
. . . .

[2019-10-15 22:14] paul-hummel-oracle commented on #213
\# cd ocicli/lib/python3.6/site-packages/
(ocicli) root@c7515939393a:~/ocicli/lib/python3.6/site-packages# ls -ld oci*
drwxr-xr-x 34 root root 4096 Oct 15 22:08 oci
drwxr-xr-x  2 root root 4096 Oct 15 22:08 oci-2.6.0.dist-info
drwxr-xr-x 10 root root 4096 Oct 15 22:08 oci_cli
drwxr-xr-x  2 root root 4096 Oct 15 22:08 oci_cli-2.6.8.dist-info

(ocicli) root@c7515939393a:~/ocicli/lib/python3.6/site-p

[2019-10-16 06:42] corso75 commented on #213
Paul, your workaround works. Thanks.
P.S. Glad to hear that the issue hasn't stayed in the unknown state and has been confirmed.

[2019-10-16 14:39] paul-hummel-oracle commented on #213
Renaming bug title to something more descriptive.  Here is the original title:
The latest 2.6.8 version has an empty command list (completely broken)

[2019-10-17 10:53] paul-hummel-oracle commented on #208
Fixed in 2.6.9

[2019-10-17 10:53] #208 closed

[2019-10-17 10:54] paul-hummel-oracle commented on #209
Fixed in 2.6.9

[2019-10-17 10:54] #209 closed

[2019-10-19 22:29] jpoon commented on #85
It turns out Travis has free MacOS builds and to test it out, here's a Travis build https://travis-ci.org/jpoon/homebrew-oci-cli.

Configuration: https://github.com/jpoon/homebrew-oci-cli/blob/master/.travis.yml

[code]

The unfortunate part is that Homebrew doesn't make it easy to test a local package. There are a couple of SO posts with suggestions on how to do this, but I haven't tried it yet h

[2019-10-27 20:02] dbarj opened #215 "oci image import missing important features"
This is a request for new feature. The oci-cli still lacks some features that we already have in the OCI web-console for image import. I can mention 2 that are very important:

1 - source-image-type OCI

$ oci --cli-rc-file /dev/null compute image import from-object-uri ... --source-image-type OCI
Usage: oci compute image import from-object-uri [OPTIONS]

Error: Invalid value for "--source-image-t

[2019-10-29 17:55] paul-hummel-oracle commented on #213
internally tracked as 7101.

[2019-10-29 20:30] paul-hummel-oracle commented on #215
@dbarj thank you for using the CLI and for giving feedback for features to make it more useful.

Regarding 1 -- the CLI is build on top of this underlying API --
https://docs.cloud.oracle.com/iaas/api/#/en/iaas/20160918/Image/CreateImage
https://docs.cloud.oracle.com/iaas/api/#/en/iaas/20160918/datatypes/ImageSourceDetails
The sourceImageType only accepts values for QCOW2 and VMDK.

We'll have to

[2019-10-29 21:44] dbarj commented on #215
Hi @paul-hummel-oracle , thank you for your attention.

For the second item, if you check https://docs.cloud.oracle.com/iaas/Content/Compute/Tasks/imageimportexport.htm there is now a new option where you can specify what is the target Operating System type and version. So if you specify "Microsoft Windows", it will also request the version. When specified, you will also be charged for the Windows

[2019-10-29 21:51] paul-hummel-oracle commented on #204
@dbarj this was fixed with v2.6.9.

[2019-10-29 21:51] #204 closed

[2019-11-07 15:22] fangerer commented on #133
@paul-hummel-oracle What's the status of this issue? I would also benefit from this feature.

[2019-11-09 00:23] kernleee commented on #133
@fangerer @nirvdrum What type of use cases do you expect with this feature? Also what types of content encodings? We are discussing internally on how much support this feature would need since object storage allows you to put in any string in the `Content-Encoding` header.

[2019-11-12 15:56] paul-hummel-oracle commented on #215
For the second point, Console UI is being clever and doing something nice for user interface.  Whereas for the APIs and CLI the image has both pieces of information together -- i.e., we still support the same number of Windows images.

Running something like this would give you an idea of how many windows images/versions are available.
oci compute image list -c $COMPARTMENT_ID | grep Windows -A1

[2019-11-12 15:56] paul-hummel-oracle commented on #215
For the second point, Console UI is being clever and doing something nice with the user interface.  Whereas for the APIs and CLI the image has both pieces of information together -- i.e., we still support the same number of Windows images.

Running something like this would give you an idea of how many windows images/versions are available.
oci compute image list -c $COMPARTMENT_ID | grep Windows

[2019-11-13 20:11] fangerer commented on #133
Our use case is as follows: We do a `bulk-download` of some files to a Linux file system. As Kevin initially described, the download is a _raw fetch_. Since the object storage is serving the files compressed (using deflate), we also end up having compressed files in our download destination. Also, afaik, the downloaded files do not provide any meta data nor magic words. Using the `file` command on

[2019-11-14 20:10] srikanthkumbham commented on #181
@eugsim1 It seems like this issue has been fixed recently. Could you please verify if the command works now?

[2019-11-14 20:24] thehhugg opened #220 "list-vnics exits 0 even when host is terminated"
Expected behavior:
`oci compute instance list-vnics` should return an error code or JSON response indicating the host is terminated or no vnics exist.

Observed behavior:
`list-vnics` on a terminated host results in an empty response and exit code 0.

Example:
[code]

[2019-11-14 23:17] kernleee commented on #133
@fangerer We discussed this feature internally and decided not to implement it. We'd only be able to support a limited number of compression types and introduce a lot of bloat into our code. I'd recommend to write a script to post-process the downloaded objects instead. If you wrote a script for that we'd more than welcome you to submit it into our project as an example for others.

[2019-11-14 23:17] #133 closed

[2019-11-15 03:28] nirvdrum commented on #133
As I noted in my original issue, doing this as a post-process step isn't exactly straightforward. oci-cli is handling all the HTTP interaction, so by the time the object is retrieved and accessible by any such script, all of that header information is gone. Adding a file extension isn't appropriate, since that basically unwinds the entire point of the Content-Encoding header in the first place.

C

[2019-11-15 21:00] srikanthkumbham commented on #220
@thehhugg thanks for reporting this issue. I'll file an internal bug for our team to fix this.

[2019-11-15 21:33] paul-hummel-oracle commented on #133
@kernleee
Python also supports zlib.
Is there anything that could be hooked into the Python SDK, https://github.com/oracle/oci-python-sdk?  Then just have CLI pass a flag to turn it on?

As for CLI, we have to make sure this will work on windows, linux, macOS. Also I wonder if this would place nicely with the multipart stuff too.

@nirvdrum I'm not sure if you've poked around the CLI and Python SD

[2019-11-17 19:13] nirvdrum commented on #133
@paul-hummel-oracle I'd love to help, but I no longer have access to an OCI environment. I've changed companies since I originally reported the issue and that brought along a change in cloud providers. When I get some time, I'll try to set up a dev account and go from there.

[2019-11-19 18:48] shanestrasser opened #221 "V2 Kubeconfig is missing "profile" argument"
I created a kubeconfig using oci-cli tool version 2.6.12 (OS is Windows 10).

```oci ce cluster create-kubeconfig --cluster-id $CLUSTER --file $HOME\.kube_oci\config_2 --region us-ashburn-1 --profile PROFILE_2 --token-version 2.0.0```

The resulting exec snippet of the kubeconfig is

[code]

Trying to run `kubectl version` results in the following:

[code]

I ended up having to modify the kubeconf

[2019-11-21 01:58] paul-hummel-oracle commented on #221
@shanestrasser thank you for reporting this issue.
We will investigate this further and reply back here with more details.

[2019-11-21 08:46] eugsim1 commented on #181
thanks i will try it later as the deployment might take some hours

[2019-11-22 21:39] smarlowucf commented on #189
There may be other unknown issues related to Click 7.0 however this issue with `cli_rc_file` has an easy fix that works for both Click 7.0 and 6.7.

[code]

Explicitly setting the parameter name is documented here https://click.palletsprojects.com/en/master/parameters/#parameter-names.

[2019-11-25 05:40] rishimahajan opened #223 "Running db patching precheck operation for GI on DB system doesn't invoke prechecks"
Trying to run patch precheck operation for GI patch on a  DB system using cli. The call doesn't report any failure but prechecks  are not invoked on the database. Don't see any job submitted to db agent on the server.
Tested it for few servers, the issue is only with db system (GI patching). The prechecks for database is working fine. The precheck as well as apply operation for GI works fine from

[2019-11-25 15:22] paul-hummel-oracle commented on #223
Hi @rishimahajan ,
I will label this for our Database team to take a look.

I wonder if the command happens asynchronously. Also, does adding "--debug" reveal any more details that might be helpful.

[2019-11-25 23:14] kennyunique commented on #221
@shanestrasser , your modification to the kubeconfig file is the work-around we recommend to customers. Basically, the Kubeconfig contains an oci-cli generate-token command. By default, it will use the default profile in your oci config to create an auth token. If you try to use that token to authenticate with a cluster that profile has no access to, you will see "You must be logged in to the serv

[2019-11-26 02:39] rishimahajan commented on #223
Nothing in debug
[code]

[2019-11-26 09:23] mattdarwin opened #224 "No such file or directory: '/root/lib/oracle-cli/bin/bmcs' when installing oci cli"
we are installing the OCI CLI client (v 2.6.8) into a Docker image using a Dockerfile.

The command is:

[code]

Weirdly this was working for some time before it started failing.

It is failing with the following error:

`IOError: [Errno 2] No such file or directory: '/root/lib/oracle-cli/bin/bmcs'`

There is a long output before that, which I will truncate for brevity:

[code]

[2019-11-26 13:19] paul-hummel-oracle commented on #224
@mattdarwin you will need to use a newer version of the installer (2.6.14 or later) as the bmcs command has been removed.

curl -L -o /tmp/install.sh https://raw.githubusercontent.com/oracle/oci-cli/**2.6.14**/scripts/install/install.sh

[2019-11-26 13:38] mattdarwin commented on #224
[code]

[2019-11-26 13:50] paul-hummel-oracle commented on #224
Apologies, I should have put 2.6.12.  (We are releasing 2.6.14 today -- must have got stuck in my head)

[2019-11-26 14:34] mattdarwin commented on #224
For the record, if you want to install a particular version of OCI, then as well as downloading the specific version of the install script, you need to specify the same version in the call to run the install script, as follows:

[code]

[2019-11-26 22:03] shanestrasser commented on #221
Thanks for getting back to me @kennyunique . Having the API server generate the kubeconfig does complicate things... Thinking out loud: when the oci-cli gets the token generated from the API server, could a modification to the file be done by local host to add those parameters before it's written to file? Do we have it documented which fields aren't copied from the ```oci ce cluster create-kubecon

[2019-11-28 17:07] opichals opened #226 "CLI installation fails on MacOS Mojave (Library not loaded: /usr/local/opt/openssl/lib/libssl.1.0.0.dylib)"
Error message

`Library not loaded: /usr/local/opt/openssl/lib/libssl.1.0.0.dylib`

Complete output

[code]

System info and various attempts to find a solution:

* MacOS 10.14.6 (Mohave)
* $ uname -a
```Darwin xyz.local 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64```
 * `find . -name libssl\*.dylib` in `/usr` (Homebrew setup)
[code

[2019-11-28 17:31] opichals commented on #226
Looks like it was a Homebrew issue. I did `brew reinstall python3` and the install went ok after that.

[2019-11-28 17:31] #226 closed

[2019-11-29 00:28] shreikurao opened #227 "error setting up oci-cli manually"
I'm trying to setup oci-cli manually & used this command - "python setup.py install"
It executed many steps before hitting the below error:

Extracting oci_cli-2.6.14-py3.8.egg to c:\users\sreekanth manjunatha\appdata\local\programs\python\python38\lib\site-packages
error: [Errno 2] No such file or directory: 'c:\\users\\sreekanth manjunatha\\appdata\\local\\programs\\python\\python38\\lib\\site-p

[2019-11-29 18:49] #224 closed

[2019-11-29 18:52] paul-hummel-oracle commented on #227
setup.py is used by pip command.

Assuming you have cloned the GitHub repo, from the oci-cli, please try
pip install -e .

[2019-12-02 20:47] jdavies commented on #137
Double clicking the file at /Applications/Python 3.8/Install Certificates did the trick for me. Thanks a ton Viralmodi !

[2019-12-09 08:28] erankiraghavendra commented on #155
Hi Team,

I'm working on OCI CLI with resource manager and I'm getting below error while executing the below command.

oci resource-manager stack create --compartment-id $C --config-source vcn.zip --display-name "My Example Stack" --description "My Tutorial to Create a VCN" --working-directory ""

ServiceError:
{
    "code": "InvalidParameter",
    "message": "Parameter 'configSource' is not valid

[2019-12-17 05:15] PeterMerkert commented on #137
For optimizing finding this issue for others, it solved for me the following error as well: `ibrary not loaded: /usr/local/opt/openssl/lib/libssl.1.0.0.dylib`

The full error stack (when simply running the curl to install OCI CLI):
[code]

[2019-12-18 17:43] vish1 commented on #227
@shreikurao Please update if you are still facing issues. If not, please close the issue.

[2019-12-19 00:52] shreikurao commented on #227
I was able to workaround it by copying python and oracle-cli.zip
Thanks.

[2019-12-19 00:52] #227 closed

[2019-12-19 07:57] dumians opened #230 "install oci cli on windows 10 - doesn't work"
Dear Team,

I try to install OCI cli on Windows 10 x64 with all requirements installed and the install script it is broken with :
Building wheels for collected packages: cryptography

  Building wheel for cryptography (PEP 517) ... error
  ERROR: Command errored out with exit status 1:
   command: 'c:\users\jd\lib\oracle-cli\scripts\python.exe' 'c:\users\jd\lib\oracle-cli\lib\site-packages\pip\_ve

[2019-12-19 22:13] kernleee commented on #230
Hi Johannes,

Could you try changing the requirements for the cryptography package to the latest version, 2.8, from our present one, 2.4.2 and see if that will fix your issue.

[2019-12-20 22:40] vish1 commented on #230
@dumians Which version of python are you running?

[2019-12-22 18:15] dumians commented on #230
@vish1 i'm using 3.8.0 , i try it on different machine wit 3.7.5 works.

[2019-12-27 07:27] ghoddg commented on #9
Hi,
I am trying to install oci-cli but getting below error, Please help.

sudo pip install oci_cli-2.7.0-py2.py3-none-any.whl
Processing ./oci_cli-2.7.0-py2.py3-none-any.whl
Collecting oci==2.8.0 (from oci-cli==2.7.0)
  Retrying (Retry(total=4, connect=None, read=None, redirect=None)) after connection broken by 'NewConnectionError('<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSCon

[2019-12-27 07:28] ghoddg opened #231 "pip install oci-cli fails on install"
Hi,
I am trying to install oci-cli but getting below error, Please help.

sudo pip install oci_cli-2.7.0-py2.py3-none-any.whl
Processing ./oci_cli-2.7.0-py2.py3-none-any.whl
Collecting oci==2.8.0 (from oci-cli==2.7.0)
Retrying (Retry(total=4, connect=None, read=None, redirect=None)) after connection broken by 'NewConnectionError('<pip._vendor.requests.packages.urllib3.connection.VerifiedHTTPSConne

[2019-12-27 20:10] twmcelroy opened #232 "Compute Instance Resize"
I see compute instance resize has been added to the CLI and Terraform Provider. When I attempt to enable this I just get the instance information returned. This is in a commercial tenancy, us-phoenix-1. Has it not been activated?

Command:
oci compute instance update --instance-id <instance ocid> --shape VM.Standard2.2 --force

Response:
Instance information, same as oci compute instance get --ins

[2019-12-30 05:11] givesussmile-hoon opened #233 "how to check block volume state if it is attached to instance ?"
i am trying to build automation to cloning & deleting block volume by using oci-cli.

however, i faced two problem.

first, i have trouble to change date format "time-created".

i want to compare localtime with "time-created" for deleting 7 days old volume.

but, i cant find a way to transform "time-created" to be another date format by using jq.

ex) "time-created": "2019-12-29T12:11:52.358000+00

[2020-01-03 00:01] rrossouw01 opened #234 "no volume backup list"
Hi maybe I am just missing it but is there really no CLI functionality to list volume backups.  I can use oci bv **boot-volume-backup** list but it appears there is no bv **volume-backup** list.  I see bv **volume-group-backup** list also.  And of course the functionality does exist in the python SDK but I do not see it in the CLI.

API:
https://docs.cloud.oracle.com/iaas/api/#/en/iaas/20160918/Vo

[2020-01-03 15:23] hyder commented on #230
I have the same problem with Python 3.8.1

[2020-01-03 17:08] vish1 commented on #234
Hi @rrossouw01, The command for volume backup is named `oci bv backup`.
See this for listing volume backups: https://docs.cloud.oracle.com/iaas/tools/oci-cli/2.7.0/oci_cli_docs/cmdref/bv/backup/list.html

[2020-01-03 17:56] rrossouw01 commented on #234
Thanks I should have looked a bit better.  I think logically it should be under bv **volume-backup** list like with bv block-volume-backup list and bv volume-group-backup list.  Thanks again!

[2020-01-03 19:29] vish1 commented on #233
Hi @givesussmile-hoon, You can use this command `oci compute volume-attachment list` to get a list of all the volumes attached to instances.

[2020-01-04 00:23] vish1 commented on #234
@rrossouw01 No problem, will close the issue.

[2020-01-04 00:23] #234 closed

[2020-01-04 00:26] vish1 commented on #232
@twmcelroy Yes, this seems to be an issue and will be fixed soon.

[2020-01-04 04:02] twmcelroy commented on #232
Great news Vish. Any ETA? Is this a fix on the CLI requiring a release or backend? We have a go live soon and I’d love to use this rather than recover from a backup (helps keeping the same IP and host name).

[2020-01-04 20:39] vish1 commented on #232
@twmcelroy The fix will be in the backend and will not require any CLI update. It is expected to be released in the upcoming week.

[2020-01-05 00:01] twmcelroy commented on #232
Thank you vish! I’ll test next week. This is good news for our project. I’ll just have to keep them patient

[2020-01-06 07:53] dumians commented on #230
@vish1  i use 3.8.0

[2020-01-07 18:34] twmcelroy commented on #232
Will this only be available on Commercial (OC1) or Government (OC2) as well? I would need in Government this week or we would resize by backup and rebuild.

[2020-01-14 17:16] twmcelroy commented on #232
Any updates if the bug was fixed last week? And if it will be available in Gov?

[2020-01-14 22:50] twmcelroy commented on #232
I have tested it since the blog post was released today and it now works in Gov and commercial. We can close this issue.

[2020-01-14 23:02] HamadaGabrIbrahim commented on #213
@corso75 With the latest version 2.8.1. this issue is fixed.

[2020-01-15 10:02] dumians commented on #230
hi Guys, i get that running in following way.

#set c++ compiler variables target platform
&"C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Auxiliary\Build\vcvarsall.bat" x86_amd64

#set path to openssl include & libs - are needed for python cryptography library wheel
set LIB="C:\Program Files\OpenSSL\lib";%LIB%
set INCLUDE="C:\Program Files\OpenSSL\include";%INCLUDE%

#run
pip

[2020-01-15 17:48] kernleee commented on #230
@dumians The latest release has a version bump to cryptography that should have fixed the issue.

[2020-01-15 21:20] wggit opened #238 "how do I assign nsg to existing compute instance using oci-cli?"
oci -version 2.6.7

could not find option to add NSG to existing compute instance using oci-cli.
lbaas has an option  "oci lb nsg update"

Thank you.

[2020-01-15 23:14] vish1 commented on #238
As NSG operate on VNICs, please update the VNIC for the compute instance to add the NSG

[2020-01-15 23:16] vish1 commented on #232
Thanks for the update @twmcelroy. Closing the issue.

[2020-01-15 23:16] #232 closed

[2020-01-16 13:03] aorcl opened #239 "OL 7.7: cli installed from "quick start" installation script requires pyton3 but won't use it."
Hello,
Installing on new Oracle Linux 7.7 VM

Doing the "quick start" installation from bash script linked in https://docs.cloud.oracle.com/iaas/Content/API/SDKDocs/cliinstall.htm

The CLI installs but every run it nags that the python 3 is required

[code]

But even after installation of python3 `sudo yum install python3` the CLI doesn't pick it up and continue throwing the warning.

[2020-01-16 20:30] wggit commented on #238
Thank you. I could not find oci-cli command option to assign NSG to vnic. If you can please point me to document link please. Thank you.

[2020-01-16 20:49] wggit commented on #238
found
oci network vnic update

[2020-01-16 20:49] #238 closed

[2020-01-21 23:00] streamnsight commented on #65
FYI, I had to create the folder `/usr/local/etc/openssl@1.1` for the script to work.
Also had to make sure it was using the version of Python that I set as default (when using pyenv)

[2020-01-22 23:50] vish1 commented on #239
@aorcl We are looking into this issue internally and will provide an update soon.

[2020-01-24 00:11] paralllax opened #241 "platform.linux_distribution() was removed in python3.8 - install breaks"
`install.py` uses `platform.linux_distribution()`, the installation breaks with the following error:

`AttributeError: module 'platform' has no attribute 'linux_distribution'`

Here is the upstream: https://bugs.python.org/issue28167

It was deprecated in 3.5, then recently removed. If anyone knows of a work around in the meantime, it would be much appreciated. Thanks!

[2020-01-26 04:55] vish1 commented on #241
Thanks for reporting this @paralllax. We are working on a fix for this and should have an update soon.

[2020-01-28 10:30] Davidmh93 opened #242 "cannot link to executable in a shellscript"
I've installed from the wget and saved the binary to the default area. However - when running the script it doesn't show the executable? Could you give advice on where this binary would be saved if following the standard input's when installed oci-cli?

Path saved to is /home/<username>/bin
however linking to this or
/home/<username>/bin/oci gives an error message on the script.

Is the executable

[2020-01-28 14:40] gareth-j commented on #241
A workaround is to update the version of `virtualenv` that [`install.py`](https://github.com/oracle/oci-cli/blob/master/scripts/install/install.py) tries to download (see line 47). You'll need to either update the checksum or just remove the check, then it install correctly.

[2020-01-28 22:07] kernleee opened #244 "Data Catalog and Data Flow services are not working."
oci data-catalog and oci data-flow services are currently not working.

We are expecting a fix for this soon.

[2020-01-30 15:58] jkremser commented on #65
With newer versions of Pythons(`3.7.3`) and MacOSes(`10.15.2`), the path `/Applications/Python\ 3.6/Install\ Certificates.command` no longer exist..

`brew reinstall openssl` fixed the issue for me

[2020-01-30 19:33] leonjia0112 commented on #65
I have the same python and macos version which the same issue. But
`brew reinstall openssl` didn't fix that for me.

[2020-01-31 00:34] jkremser commented on #65
@leonjia0112 I also did `pip3 install certifi` but w/o the `brew reinstall openssl` step, it didn't work.

[2020-01-31 01:33] paralllax commented on #241
Awesome, thank you so much @gareth-j  & @vish1

[2020-02-04 11:11] OmSao opened #245 "oci cli installation failure in Windows10 + Python3.8"
Hello Team,
**Environment detail**: Windows 10, 64 bit. Tried with Python 3.5, 3.6 and 3.8 (same behaviour).
Set my proxy and tested PowerShell for network working using "Invoke-WebRequest http://www.google.com"

**For installing oci-cli**
[](Following: https://docs.cloud.oracle.com/en-us/iaas/Content/API/SDKDocs/cliinstall.htm)

**In PowerShell Administrator mode**:

**PS C:\WINDOWS\system32>** S

[2020-02-04 12:40] #242 closed

[2020-02-04 13:31] OmSao commented on #245
The issue got resolved, when I followed same steps from PowerShell after:
0. Launched command from my home network instead from behind corporate proxy.
1. Removing http(s)_proxy from Environment variables.
2. Removing proxy from from Powershell env variables.
3. Removing browser proxy.

Closing the issue.

[2020-02-04 13:31] #245 closed

[2020-02-05 16:31] danxtrate opened #247 "Cannot create multiple objects using a single JSON file. i.e. multiple VCNs in the same compartment"
I tried to create multiple VCNs in a single compartment using a single JSON file.
Is there a limitation in OCI CLI? My JSON files passes JSON validation.

Here is a sample of my code:
First try:

Here OCI CLI returns:

Which makes me think that OCI CLI does not like data structures.

[code]

Second try:
I tried to define more objects here, Same error as above.

[code]
When debugging the last comma

[2020-02-06 19:03] srikanthkumbham commented on #247
@danxtrate OCI CLI doesn't support creating multiple resources using the single create command. I'll file a feature request for this internally and meanwhile, you could write a simple bash script to achieve the same result.

[2020-02-06 19:03] #247 closed

[2020-02-06 20:17] HamadaGabrIbrahim commented on #220
@thehhugg This issue has been fixed. it returns now an error message.

[2020-02-07 11:33] rakesh-253 commented on #239
I am also facing the same issue.

bash ~>python
Python 2.7.5 (default, Jun 20 2019, 13:30:36)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-36.0.1)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

bash ~>python3
Python 3.6.8 (default, Aug  7 2019, 08:02:28)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-39.0.1)] on linux
Type "help", "copyright", "credits" or "license" for more informat

[2020-02-10 09:47] lucianf opened #248 "Requirement for old arrow 0.10.0"
Is there any particular reason why we force a dependency on `arrow-0.10.0`, which is a release from almost 4 years ago?

Not asking only from a security/support point of view, but also because of convenience.  While it is a best practice to have `oci-cli` installed in a virtual env (in which case versions of dependencies don't make any difference); but when installing as a global module, the hard

[2020-02-10 18:34] dhoogfr commented on #172
I have the same issue with version 2.9.1
When using the --all keyword, I'm getting 16 policies returned of the 17 created.
Using --limit 30, does show all 17 results
Tested with
[code]

[2020-02-11 19:31] vish1 commented on #248
@lucianf Thanks for the suggestion. We will look into upgrading the version for the package.

[2020-02-12 00:49] vish1 commented on #244
Services should be working now. Closing the issue.

[2020-02-12 00:49] #244 closed

[2020-02-12 00:51] vish1 commented on #231
@ghoddg Installation requires access to pypi.org. Please check the network connection for the machine and see if the site (pypi.org) is accessible. Also check if any proxy setup is needed for external access.

[2020-02-12 13:24] lucianf commented on #239
Fixed in 2.9.2 (#249).

[2020-02-14 00:59] #220 closed

[2020-02-14 00:59] #213 closed

[2020-02-14 01:04] HamadaGabrIbrahim commented on #185
@slmjy This issue has been fixed in version 2.9.2 you can only pass the --instance-id and CLI will get --compartment-id by --instance-id

[2020-02-14 01:04] #185 closed

[2020-02-16 23:09] runionow opened #251 "Unable to reach Oracle Streaming service through oci cli"
## Unable to reach streaming services through oci cli

**Command ::**`oci streaming admin stream get --stream-id ocid1.stream.oc1.phx.*********** --profile PERSONAL`

After using the above command i am getting this below error

```HTTPSConnectionPool(host='streaming.us-phoenix-1.oci.oraclecloud.com', port=443): Max retries exceeded with url: /20180418/streams/ocid1.stream.oc1.phx.amaaaaaalhp3ulia4

[2020-02-17 16:16] systemcatch commented on #248
There's been many improvements to arrow over the past year so upgrading is definitely worthwhile.

`0.15.0+` have some breaking changes to do with parsing but I don't think it'll effect this repo, `0.14.7` is the last version before that.

[2020-02-19 02:30] vish1 commented on #251
@runionow Can you check the proxy setup - the error message indicates that the connection to the proxy could not be established?

[2020-02-19 18:56] runionow commented on #251
I don't have any proxy setup on my machine

[2020-02-27 23:39] hiriumi opened #256 "oci compute block-volume-attachment list?"
I was looking for a way to list the Block Volume attachment but I was not able to find one. I do see **oci compute boot-volume-attachement list** but not for **Block Volume**. Do we already have one or plan to implement the feature in the future?

[2020-02-27 23:56] vish1 commented on #256
Hi @hiriumi  This command should allow you to list volume attachments **oci compute volume-attachment list**

[2020-02-27 23:57] vish1 commented on #248
Thanks for the suggestions @lucianf and @systemcatch. We will be upgrading the version for arrow in the upcoming release.

[2020-02-27 23:59] vish1 commented on #233
@givesussmile-hoon Were you able to use the provided command to make progress?

[2020-02-27 23:59] vish1 commented on #231
@ghoddg Were you able to move forward and install CLI?

[2020-03-05 01:47] vish1 commented on #256
@hiriumi Were you able to use the command mentioned above?

[2020-03-05 01:49] vish1 commented on #248
Module arrow has been upgraded to 0.14.7 in release version 2.9.5.

[2020-03-05 01:49] #248 closed

[2020-03-05 02:46] vish1 commented on #223
@rishimahajan This issue has been fixed as part of release 2.9.5.

[2020-03-05 02:46] #223 closed

[2020-03-05 06:37] hiriumi commented on #256
@vish1 Yes! I was able to list the attachments using the command. Thank you very much for your help! :)

[2020-03-05 06:47] #256 closed

[2020-03-05 07:01] vish1 commented on #239
As pointed out by @lucianf, this issue has now been fixed.

[2020-03-05 07:01] #239 closed

[2020-03-05 07:02] vish1 commented on #233
Closing this issue due to lack of response.

[2020-03-05 07:02] #233 closed

[2020-03-05 07:05] vish1 commented on #231
Closing this issue due to lack of response.

[2020-03-05 07:05] #231 closed

[2020-03-05 07:10] vish1 commented on #230
Issue has been fixed as indicated by previous comment.

[2020-03-05 07:10] #230 closed

[2020-03-05 22:57] vish1 commented on #165
@kurtgraustein This issue has been fixed as of release version 2.9.2.

[2020-03-05 22:57] #165 closed

[2020-03-05 23:07] vish1 commented on #187
@glaubitz Were you able to get the unit tests working?

[2020-03-05 23:20] vish1 commented on #201
Found this solution from submitter on stackoverflow (https://stackoverflow.com/a/58193954)

[2020-03-05 23:20] #201 closed

[2020-03-06 16:08] joekr commented on #174
@andrew80k can you post the output of
`oci compute instance list -d --compartment-id=${COMPARTMENT_OCID} --all` like Paul suggested.

[2020-03-10 00:41] andrew80k commented on #174
Unfortunately, I no longer have access to the environments I once did as I have left Oracle.  I appreciate those who have chimed in, and I did try this a number of different ways, and the "grep display" was just to shorten the output for the creation of this issue and the results didn't really change without it.  Since I can no longer contribute anything of value to this issue, I will close it.

T

[2020-03-10 00:41] #174 closed

[2020-03-10 06:41] psaini2018 opened #259 "oci cli command to set DNS record"
Please provide the command example to set the DNS record in OCI. I tried following and it keeps on failing:

oci dns record rrset update --domain "rcidemo.com" --zone-name-or-id "ocid1.dns-zone.oc1..0d05bc1787b544d39eb143930ab4b95f" --rtype 'A' --items "[{\"domain\":\"rocidemo.com\", \"rdata\":\"cnode1\", \"rtype\":\"A\",\"ttl\":24000}]"

WARNING: Updates to items will replace any existing values.

[2020-03-10 07:01] vish1 commented on #259
@psaini2018 The warning can be suppressed by using the `--force` flag for the command.

[2020-03-11 16:06] HamadaGabrIbrahim commented on #241
@paralllax Could you please provide more info like
How did you install CLI? What Operation System you were using?
Thanks.

[2020-03-12 12:37] paralllax commented on #241
Hi @HamadaGabrIbrahim

I had followed the instructions from install steps:

[code]

As for my operating system, I am running Manjaro i3. Let me know if you need more information. Thank you

[2020-03-12 14:54] torstenboe opened #261 "Caused by NewConnectionError with oci network vcn create"
When I run "oci network vcn create" I always get the following error message:

RequestException: HTTPSConnectionPool(host='iaas.--dns-label.oraclecloud.com', port=443): Max retries exceeded with url: /20160918/vcns (Caused by NewConnectionError('<oci._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7fd611d87e10>: Failed to establish a new connection: [Errno -2] Name or service not kn

[2020-03-12 15:22] HamadaGabrIbrahim commented on #241
@paralllax Thanks for your reply.
In install.py file, the function platform.linux_distribution() will be called only if you pass the parameter --verify-native-dependencies
I am curious to know if you have passed this parameter to the insaller.

[2020-03-12 17:12] vish1 commented on #261
@torstenboe Looks like the hostname might not be correct for the request. `'iaas.--dns-label.oraclecloud.com`. Can you run the command in debug mode `--debug` both times and capture the output? Thanks!

[2020-03-12 17:16] vish1 commented on #259
@psaini2018 Looks like the json object for `--items` is not correctly formed. As shown in the example input [here](https://docs.cloud.oracle.com/en-us/iaas/Content/API/SDKDocs/cliusing.htm#ManagingCLIInputandOutput)

`'{"key1":"value1","key2":"value2"}'`

Please use single quotes to surround the json input.

[2020-03-12 21:17] paralllax commented on #241
@HamadaGabrIbrahim Happy to help!
As far as I can remember, and reviewing my command history, I didn't pass any additional options, and rather had just run the installer as is. I would like to note that at the time, install.sh pulled down version 2.6.12 of install.py. I tested the current version and it seems to work without issues.

[2020-03-12 23:04] HamadaGabrIbrahim commented on #241
@paralllax Thanks for all the info you provided.
I am glad the current version doesn't have this issue.
I am going to close the ticket

[2020-03-13 07:13] torstenboe commented on #261
Here is the output when it fails:

INFO:oci.base_client.140100346797136: 2020-03-13 07:10:01.318501: Request: POST https://iaas.--dns-label.oraclecloud.com/20160918/vcns
INFO:oci.base_client.140100346797136: 2020-03-13 07:10:11.579524: Request: POST https://iaas.--dns-label.oraclecloud.com/20160918/vcns
INFO:oci.base_client.140100346797136: 2020-03-13 07:10:23.972677: Request: POST https://iaas.--

[2020-03-13 12:09] torstenboe commented on #261
Thank you! The response showed a different variable. In changed it from local to global and now everything is fine.

[2020-03-13 16:44] arunmc05 commented on #155
Hi,

I have installed the OCI to my local windows PC and running the following command in command prompt.
-------------------------------------------------------------------------------------
Microsoft Windows [Version 10.0.16299.1686]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\Users\mca>oci os object put -ns bmhe7fzgl3tr -bn INVOICES -file C:\Users\mca\Desktop\Holidays.pdf
Error: no

[2020-03-13 16:47] vish1 commented on #261
@torstenboe Glad to know the issue got resolved. If you can provide more detailed info about the problem and resolution, it might help others.

[2020-03-13 16:49] vish1 commented on #155
@arunmc05 Can you please open a new issue - we usually do not follow closed issues and your comment might get lost.

[2020-03-13 16:49] vish1 commented on #155
@erankiraghavendra Same as above, please open a new issue for your observation.

[2020-03-13 16:51] vish1 commented on #259
@psaini2018 Please let us know if you were able to proceed using the above comments.

[2020-03-13 16:52] arunmc05 opened #262 "OCI OD Error: no such option: -f"
Hi,

I have installed the OCI to my local windows PC and running the following command in command prompt to FTP the pdf file and I am getting the following error.

------------------------------------------------------------------------------
[code]
bmhe7fzgl3tr is the Namespace in the Bucket details
INVOICES is the Bucket name

is this correct.

Thank You,
Arun

[2020-03-13 16:54] #241 closed

[2020-03-13 17:18] vish1 commented on #262
thanks @arunmc05 for opening the issue. I think the problem is that you need to use double dashes for the `file` parameter. (as in `--file`)

[2020-03-13 17:25] arunmc05 commented on #262
Thank you it worked @vish1  but I got

[code]

I have kept Bucket Visibility has Public anything work

[2020-03-13 17:46] arunmc05 commented on #262
Hi,

I am able transfer the file. issue was I missed to add the User to the Group.

[2020-03-13 17:46] #262 closed

[2020-03-13 17:53] arunmc05 opened #263 "need upload all the file which is in the folder to Bucket"
Hi,

I need to upload the all file exists in the folder . what is the command for this and if any same file name exists in the bucket  then it should over write it.
is it possible.

I am able to upload a single file to Bucket with following command in command prompt.
`oci os object put -ns <object_storage_namespace> -bn <bucket_name> –file <file_location>`

Please help.

Thank You,
Arun

[2020-03-13 19:39] vish1 commented on #263
@arunmc05 You can use the bulk upload feature
`NAME
       os_object_bulk-upload -

DESCRIPTION
       Uploads all files in a given directory and all subdirectories.

USAGE
          oci os object bulk-upload [OPTIONS]`

You can use this flag on the command to overwrite existing files
`       --overwrite

       If a file being uploaded already exists in Object Storage with the same
       name, o

[2020-03-13 21:24] vish1 commented on #206
Closing the ticket due to no response.

[2020-03-13 21:24] #206 closed

[2020-03-13 21:25] vish1 commented on #187
@glaubitz Please let us know if you were able to get the tests working. If there is no response, I'll close the ticket.

[2020-03-13 21:54] glaubitz commented on #187
Testsuite currently fails with 2.9.1, see: https://build.opensuse.org/package/live_build_log/Cloud:Tools/oci-cli:test/Factory/x86_64

[2020-03-14 10:55] arunmc05 commented on #263
@vish1 Thank You!

[2020-03-14 10:55] #263 closed

[2020-03-14 12:05] hiriumi opened #264 "How to filter JSON data with dashed name"
Hello,

I'm trying to filter image data by using --query but I haven't been able to.

`oci compute image list --compartment-id $T --query 'data[?"operating-system"==CentOS]'`

I get the following message.

I think dashed data name is the issue here. Can someone help me with this issue please?

[2020-03-15 07:33] hiriumi commented on #264
I finally figured it out. Here is what I wanted to accomplish.

`oci compute image list --compartment-id $T --query "data[?\"operating-system\"=='CentOS']"`

I will close this ticket.

[2020-03-15 07:33] #264 closed

[2020-03-15 08:12] sauraahu opened #265 "Need support for container registry through oci cli"
Couldn't find support for container registry  to create repos , delete repo, delete containers etc. on https://docs.cloud.oracle.com/en-us/iaas/tools/oci-cli/2.9.6/oci_cli_docs/

Similar option are available in AWS and Azure called ECR https://docs.aws.amazon.com/cli/latest/reference/ecr/index.html and ACR resp. https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-start

[2020-03-16 00:25] #261 closed

[2020-03-16 17:06] arunmc05 opened #266 "File transfer from Oracle cloud to on premises EBS application (Linux server)"
Hi,

what is the command to SFTP the csv file from object Storage to Linux server.

Can you please help.

Thank you,
Arun

[2020-03-17 17:11] vish1 commented on #266
@arunmc05 Can you provide more specific details? The subject mentions database, but the question talks about SFTP from object storage to linux server.

[2020-03-17 19:53] vish1 commented on #259
@psaini2018 Closing this issue due to lack of response. Please re-open if needed.

[2020-03-17 19:53] #259 closed

[2020-03-18 08:54] arunmc05 commented on #266
@vish1  I have modified the subject. is there way to push file from Cloud storage to on premises appliaction.
I Tried pushing from files  on premises to  cloud. using
` oci os object put -ns <object_storage_namespace> -bn <bucket_name> --file <file_location>`

[2020-03-18 23:28] vish1 commented on #266
@arunmc05 You can use `oci os object get`

[2020-03-19 06:46] vish1 commented on #265
@sauraahu Thanks for the ask. Support for container registry is coming soon.

[2020-03-19 06:46] #265 closed

[2020-03-23 16:52] vish1 commented on #266
@arunmc05 Were you able to use the command mentioned in the previous comment?

[2020-03-27 22:27] vish1 commented on #266
@arunmc05 Closing this ticket due to no response.

[2020-03-27 22:27] #266 closed

[2020-03-31 02:38] priteshkp opened #269 "Raw-requests doesn't correctly handle headers"
When you use `raw-requests` command and try to specify custom headers with hyphens, all the hyphens are dropped:

[code]
Note: `foobar: baz`

It looks to be this line:
https://github.com/oracle/oci-cli/blob/master/src/oci_cli/raw_request_cli.py#L59

I believe it needs to call with:
`additional_headers = cli_util.parse_json_parameter('request_headers', request_headers, 'camelize_keys', False)`

els

[2020-04-01 17:28] HamadaGabrIbrahim commented on #269
@priteshkp Thanks for reporting this. I have created a ticket internally with this number 8286 to fix the issue.

[2020-04-01 22:51] HamadaGabrIbrahim commented on #181
@eugsim1 Please confirm it works with you so I can close the issue.

[2020-04-01 23:02] HamadaGabrIbrahim commented on #251
@runionow As @vish1 mentioned it seems to be connection issue.
I wonder if you are able to execute other commands with the same settings.
like for example 'oci iam availability-domain list --profile PERSONAL'

[2020-04-02 11:54] eugsim1 commented on #181
it works for me please close the issue

[2020-04-02 11:54] #181 closed

[2020-04-02 22:49] ctripod opened #271 "configparser error when installing on macOS"
I was trying to install Oracle OCI CLI and I'm getting the following error.  It appears that configparser has been upgraded to 5.0.0 which does not match the required 4.0.2 for the installer.

ERROR: oci 2.12.2 has requirement configparser==4.0.2, but you'll have configparser 5.0.0 which is incompatible

Any flag I can pass or solution?

[2020-04-08 18:01] vish1 commented on #271
@ctripod The issue has been fixed in the latest release. Please upgrade.

[2020-04-08 18:01] #271 closed

[2020-04-12 06:00] sscs12345 opened #273 "unable to upgrade from 2.9.3 or reinstall issue"
` Downloading oci_cli-2.9.10-py2.py3-none-any.whl (7.8 MB)
     |█▋                              | 389 kB 162 kB/s eta 0:00:46ERROR: Exception:
Traceback (most recent call last):
  File "/root/lib/oracle-cli/lib/python3.6/site-packages/pip/_vendor/urllib3/response.py", line 425, in _error_catcher
    yield
  File "/root/lib/oracle-cli/lib/python3.6/site-packages/pip/_vendor/urllib3/response.py", l

[2020-04-12 22:32] #273 closed

[2020-04-16 10:03] tfountain commented on #259
A records are for IP addresses (IPv4 addresses to be specific), but the rdata you are providing is `cnode1`, so that's why you're getting the "Invalid value" error. You'll need to provide an IP address instead, or use a different record type.

[2020-04-22 22:09] puneethvelichala opened #276 "oci cli commands fail with certificate error 'certificate verify failed'"
I have installed CLI utility in our servers behind the proxy/firewall  , facing below issues related to certificate when running commands related to iam or object storage.

Any additional settings to be done to access OCI endpoints from a proxy.

$oci iam compartment list
RequestException: HTTPSConnectionPool(host='identity.us-ashburn-1.oraclecloud.com', port=443): Max retries exceeded with url: /

[2020-04-29 13:15] danielfclp opened #278 "FileNotFoundError: [WinError 3] The system cannot find the specified path: 'services'"
Hello,

I'm getting this error when trying to create the kubeconfig file using OCI CLI:
FileNotFoundError: [WinError 3] O sistema não pode encontrar o caminho especificado: 'services'
**FileNotFoundError: [WinError 3] The system cannot find the specified path: 'services'**

I'm using this command:
oci ce cluster create-kubeconfig --cluster-id *myclusterid* --file $HOME/.kube/config --region us-ash

[2020-04-30 23:01] gsteve21 opened #279 "FileNotFoundError: [Errno 2] No such file or directory: 'services'"
I am getting errors with oci cli on mac.

[code]

The equivalent on an oci instance works just fine.
[code]

[2020-04-30 23:07] gsteve21 commented on #279
closing - config issue

[2020-04-30 23:07] #279 closed

[2020-05-02 18:45] Bwilliams-orcl commented on #279
Can you share how you fixed this.  I have the same exact error.

[2020-05-02 19:28] gsteve21 commented on #279
My local ./oci/config file was incorrect.  I updated it this is what it looks like now:

[code]
After getting it fixed I was able to successfully use the oci cli.

This URL can help with instructions:
https://oracle.github.io/learning-library/oci-library/DevOps/OCI_CLI/OCI_CLI_HOL.html

[2020-05-04 03:36] Bwilliams-orcl commented on #279
Thanks for the quick response.  It was a configuration error in the config file.  Thanks for the help!!

[2020-05-04 19:48] vitor-caetano opened #280 "FileNotFoundError: [Errno 2] No such file or directory: 'services'"
All commands failing.

[code]

[2020-05-06 01:34] HamadaGabrIbrahim commented on #276
@puneethvelichala Thanks for reporting this.
This looks to be connection issue.
Can you access the URL from your computer?

[2020-05-06 01:34] HamadaGabrIbrahim commented on #280
@vitor-caetano Thanks for reporting this issue.
We are working on fixing this bug.

[2020-05-06 06:35] puneethvelichala commented on #276
@HamadaGabrIbrahim  This was resolved after adding the root certificate of the proxy and OCI to the OS default certificates list.
I had to use the global attribute --cert-bundle and pass the path to the cert file location while running the CLI , unfortunately I couldn't find any links to this issue until i figured out all the different possible options.

[2020-05-06 08:29] bkashyapgithub commented on #117
Hmm, I tried it today, the folloiwng didnt help
sudo apt-get update
sudo apt-get --assume-yes install python3-pip
sudo pip3 install --upgrade pip
sudo apt-get --assume-yes install build-essential libssl-dev libffi-dev python-dev

However w/a to run /tmp/oci_cli_install_tmp_FO1Y helped installation to complete successfully.

[2020-05-06 16:08] binbashroot opened #282 "scripts directory not taking defaults when using the --install-dir flags"
It appears the install.py script is setting the script_dir as "None" and not passing the --install-dir configurations as the base dir to install the scripts to defined bin directory in the install.sh script.

[root@myhost~]# sh install.sh --install-dir /opt/foo/oracle-cli --exec-dir /opt/foo/oracle-cli/bin

    ******************************************************************************
    You

[2020-05-08 15:58] brusMX commented on #280
Same here.
This error message is really misleading because it has to do with the `~/.oci/config` file.
I have 2 profiles like this:

[code]

Now, this command returns my compartments correctly:

[code]
But this profile just gives that error:
[code]
So basically, this error message has nothing to do with the actual error. I believe the actual error has to do with the profile not having a valid secu

[2020-05-11 21:25] HamadaGabrIbrahim commented on #282
@binbashroot Thanks for reporting this issue. we are looking into it

[2020-05-13 07:52] himanshu1591 commented on #278
Hi Daniel,

I faced the similar error during my kubeconfig setup. I hope you have resolved it by now but if not, try below method.

The error indicates that OCI is trying to give you a ServiceError and it fails to find the location 'services' where it's error code resides. Hence you are getting that vague line not the exact error.

In my case , my user account in the respective tenancy was missing

[2020-05-14 20:09] roberthuie commented on #278
Double check your CLI config file.  I had my tenancy ID wrong. After I corrected that, the error went away for me.

[2020-05-15 01:18] danielfclp commented on #278
Hello guys, tks for all the help.

I've finally understood the CLI config file.

I was trying to use a different profile every time and the api key pairs were all wrong.

I now use only 1 profile, and got that profile to use the api keys I've uploaded to OCI dashboard and created the kubeconfig file alright.

[2020-05-15 01:18] #278 closed

[2020-05-15 11:32] Fustzecutor commented on #280
Same error here...I'm using certificates to authenticate.

Any update on fixing this please ? We cannot use at all the OCI buckets.

[2020-05-18 20:52] mattiarossi commented on #193
A little late to the party, but you can use oci-cli and raw-http requests
Here is an example script that fetches an image listing and id from using the marketplace description and resource version:
https://gist.github.com/mattiarossi/a7e5ceff8de0da0a12393a27ffc5c6e8

[code]

[2020-05-20 00:29] vish1 commented on #280
We have fixed this error in the latest release 2.10.4.

[2020-05-20 00:29] #280 closed

[2020-05-21 11:31] Shashank-Barki opened #285 "oci last_patch_history details"
Is there a way to list all the patches installed in a database system and db instances using any python or cli commands. Don't want to trigger dbcli commands in each db system. I want to get patch information across tenancy.

[2020-05-21 17:34] adizohar commented on #285
you can run showoci script I wrote to extract all database ++ information, it will show you the current patch and what available to deploy
https://github.com/oracle/oci-python-sdk/tree/master/examples/showoci

[2020-05-22 05:17] Shashank-Barki commented on #285
Thanks Adi for your reply and showoci utility. I have tried showoci and it returns available patches and not the history of patches. I have tried with python function with patch history id and also with oci db command but with no success.

Is there anything I am missing as only way seems to use dbcli describe-component at this stage.

Also I see a comment that     # class oci.database.DatabaseClie

[2020-05-22 11:20] adizohar commented on #285
Hi Shashank, For OCI CLI, you can use -
oci db patch-history list by-database --database-id
or
oci db patch-history list by-db-system

I may add the patch history to showoci in next releases

[2020-05-22 11:41] Shashank-Barki commented on #285
Hi Adi, Thanks for your reply again.
I see that oci db patch-history list by-database will not return any records if patches are applied from databases directly (not using cloud console or OCI update commands).

Output of oci db patch-history and dbcli describe-component are not in sync at all.

Please let know your opinion on how to show patch history details.

[root@prod-server~]# dbcli describe

[2020-05-22 13:24] adizohar commented on #285
Shashank, there is no shortcut, if you apply database patches using opatch, or patches that already applied to the image, you won't be able to see from console
only patches that applied from the console or dbcli will appear

For all patches, either run opatch or select from the DBA_REGISTRY_HISTORY

This is not OCI CLI issue

[2020-05-27 17:23] andrefecto opened #286 "ImportError: No module named operator"
When running any commands after installing oci I get the following error:
[code]
My installation parameters were:
[code]

Running oci as root is fine, no errors. But if you're not root, you get that no module named operator error. However, I have given all users access to everything in the /opt/oci directory (R-X)

This installation worked a few weeks ago on other systems I have, but not anymore.

[2020-06-02 07:40] rramge opened #287 "AttributeError when trying to retrieve WaaS log list"
Hello,

I run into the following error when I try to access the WAF logs:

[rramge@ol7 ~]$ oci --profile SES waas waf-log list --waas-policy-id < ocid_inserted-here > --all
AttributeError: 'dict' object has no attribute 'replace'
[rramge@ol7 ~]$

Other commands like 'waf-config get' work fine, so I assume there'ws either a bug hidden somewhere or, which is maybe more likely, I do something wrong h

[2020-06-03 00:18] vish1 commented on #287
@rramge Thanks for pointing this issue out. Can you please provide the following details:

1. Which version of the CLI is being used?
2. Did the same code work in the past for you? Or did the code never work in the first place?
3. What operating system and version is the CLI being used on?
4. Debug log output (run the same command with `-d` flag)

[2020-06-03 10:35] hatvik opened #289 "oci bv boot-volume list, should support lifecycle-state filtering"
https://docs.cloud.oracle.com/en-us/iaas/tools/oci-cli/2.10.4/oci_cli_docs/cmdref/bv/boot-volume/list.html

This should work similar to eg oci bv volume list

[2020-06-03 10:38] rramge commented on #287
Hi,

thanks for your quick reaction. Let me provide the answers for you:

[rramge@ol7 ~]$ oci -version
2.10.4
[rramge@ol7 ~]$

This is for a new OCI customer and the feature was never requested before, so it is my first time I try this.

[rramge@ol7 ~]$ uname -a
Linux ol7 4.14.35-1902.302.2.el7uek.x86_64 #2 SMP Fri Apr 24 14:24:11 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux
[rramge@ol7 ~]$

I attach i

[2020-06-03 11:13] adizohar commented on #287
Hi Ralf
You are running OCI CLI on top of Python2 which not supported any more
I am running on Python3 and it works well
I would suggest to install Python3 + OCI CLI and try again.
Adi.

[2020-06-03 11:18] adizohar commented on #289
HI Hatvik

I don't understand what is the issue, running oci bv boot-volume list does show the lifecycle-state

Please advise
Thank you

[2020-06-03 11:39] rramge commented on #287
Adi, you are correct. When looking into the reason WHY oci-cli used python 2.7, things are getting interesting, because oracle-cli's install.sh created the python 2.7 directories in its installation path.

A quick look showed me that, when using Oracle Linux or another  distro which uses 'yum', the install script tries to download the python 3.6 package and compile it. This never happened on my Or

[2020-06-03 11:48] #287 closed

[2020-06-03 11:48] rramge commented on #287
I close the issue. Thanks for the help.

[2020-06-03 12:20] hatvik commented on #289
Sorry, an important word was missing in the title, filter.
This works:

This doesnt work:

[2020-06-04 13:58] adizohar commented on #289
Hi Hatvik
Not all API has the lifecycle-state as filter , list of boot volumes doesnot
This is why OCI CLI established Query option
You can run the below to filter:

oci bv boot-volume list --availability-domain $AD --compartment-id $COMP --query "data [?\"lifecycle-state\" == 'AVAILABLE']"

[2020-06-09 09:00] hatvik commented on #289
Yes, thats one possible workaround.
But are saying that will not be fixed?

[2020-06-16 16:43] jeliker opened #291 "Standardize parameter naming based on service name; relegate legacy parameter names to OCI_CLI_PARAM_ALIASES"
Consider standardizing convention for parameter names according to service name. For example, this command is predictable using the service name in part for the key parameter name

[code]

However, this command uses a non-predictable key parameter

[code]

I would expect this to use a similar convention and instead require `--route-table-id` as input. There are many existing services that follow t

[2020-06-17 14:00] ashishjainm opened #293 "Unable to launch CLI on MAC"
I get the following error after installing CLI following the instructions on this page: https://docs.cloud.oracle.com/en-us/iaas/Content/API/SDKDocs/cliinstall.htm

Below is the error:

Traceback (most recent call last):
  File "/Users/ashishjain/bin/oci", line 5, in <module>
    from oci_cli.cli import cli
  File "/Users/ashishjain/lib/oracle-cli/lib/python3.7/site-packages/oci_cli/__init__.py",

[2020-06-17 21:19] vish1 commented on #293
@ashishjainm I followed the same steps and was able to install the CLI and verify that it is working correctly. Can you provide more details - installation logs and how you are invoking the CLI?

[2020-06-18 07:41] ashishjainm commented on #293
@vish1 can you please let me know where i can find the logs?
Also, i am trying to launch the cli from a terminal window on mac.
I am using a conda virtual env which i initialize with the following command:
conda activate py36 (this is a python 3.6 environment).
But i think it is using python 3.7 installed on the mac.

[2020-06-18 08:37] ashishjainm commented on #293
[code]

[2020-06-18 08:50] ashishjainm commented on #293
okay figured it out.

I had a environment variable set in the .bash_profile file - PYTHONPATH
once i commented that, it started to work.

is the oci-cli using this variable in some form?

[2020-06-19 06:40] Vivek-ghub opened #294 "Issue while accessing Cost and Usage reports"
We are trying to get "Cost and Usage reports" data from different tenancies using federated user and getting following error message. We have defined tenancy usage-report and got access to that group.

Error Download Usage and insert to database - {'opc-request-id': 'xxxxxxxxxxx', 'code': 'BucketNotFound', 'message': "Either the bucket named 'ocid1.tenancy.oc1..xxxxxxxxxxxx' does not exist in the

[2020-06-19 10:16] adizohar commented on #294
Please share the policy you created

[2020-06-19 13:34] Vivek-ghub commented on #294
Thank you for the update Adi!! I really appreciate your help!
The Cost & Reports are no longer being generated in internal tenancies.

[2020-06-19 13:34] #294 closed

[2020-06-19 17:44] linqing2004 opened #295 "why cli needs 'idna>=2.5,<2.7' while sdk provides and uses idna=2.8?"

[2020-06-22 04:34] terter opened #296 "unable to install cli to RHEL instance"
I launched RHEL 8.1 instance from custom image and tried to install CLI using command below, but SSL error has occurred.

1. executed command
export https_proxy = "https://user:password#@localhost:8080"
export http_proxy = "http://user:password#@localhost:8080"
bash -c "$(curl -L https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh -U ${user}:${pass} -x http://localho

[2020-06-26 09:37] raylaw-hk opened #299 "Unable to assign public ip to private IP via CLI @Oracle Linux 7"
A auto refresh public ip script can be run in oracle cloud shell without any error but error returned in OCI CLI

Environment:  Oracle Linux Storage Appliance 1.8.1 instance on OCI
OCI CLI version: 2.12.0

Behavior:
Able to delete public ip but cannot create, command will stuck until a public IP assigned via Cloud Shell (by running: oci network public-ip create --compartment-id $compartmentID --li

[2020-07-05 13:42] adizohar commented on #296
Please try to install OCI-CLI using pip
pip install oci-cli

[2020-07-05 13:42] adizohar commented on #293
If this works well, do you still need to leave the ticket open ?

[2020-07-05 18:42] ashishjainm commented on #293
No. you can close it.

On Sun, Jul 5, 2020 at 7:13 PM Adi Zohar <notifications@github.com> wrote:

[2020-07-05 19:13] adizohar commented on #293
I don’t have permission to close it, only admin or the ticket owner can do , thank you

[2020-07-05 22:25] #293 closed

[2020-07-07 00:42] vish1 commented on #299
@raylaw-hk Was this working with an earlier version of the CLI? Also, can you provide the output with debug enabled`-d` ?

[2020-07-07 16:10] twmcelroy opened #301 "Rename-Item appears every time powershell is opened"
I've had this issue every time I open my powershell.

Rename-Item : The item at path 'TabExpansionBackupFromOciAutocomplete' already exists.
At C:\Users\travis.mcelroy\lib\oracle-cli\Lib\site-packages\oci_cli\bin\OciTabExpansion.ps1:120 char:5
    Rename-Item Function:\TabExpansion TabExpansionBackupFromOciAutoc ...
[code]

[2020-07-08 14:11] ramunas-cvirka opened #303 "fingerprint from configuration appended as query param"
Hello, one of our customer is having a difficulty while getting waas waf-logs.
It seems the CLI is appending ?fingerprint parameter with the value from ~/.oci/config which is very strange
The waf-log API actually supports this parameter, but the user does not provide it.
Could you comment how can this occur, how to avoid it?

[code]

[2020-07-14 11:13] ramunas-cvirka commented on #303
It was related to `/.oci/oci_cli_rc` in which the customer put his API fingerprint

[2020-07-14 11:14] #303 closed

[2020-07-15 09:25] raylaw-hk commented on #299
Hi @vish1 ,
Sorry that I am new to oracle cloud so I cannot confirm if it was working before.

I also cannot do debug enable since my ssh session would end once reached the drop ip commend:
oci network public-ip delete --public-ip-id $publicIPID --force --wait-for-state UNASSIGNED

The create ip is the one that not able to proceed via ssh:
oci network public-ip create --compartment-id $compartment

[2020-07-15 14:46] jazzl0ver opened #305 "missing parameter for scripts location"
Hi,

I used the following command to install the cli:
[code]
but it still requires some info:
[code]
Is there a chance to add one more parameter to this script for automation purposes?

[2020-07-16 23:53] sdstewar opened #306 "get-job-logs doesn't have an '--all' option forcing us to write our own pagnation"
Unlike many other CLI commands (e.g. iam policy list, compute instance list) the get-job-logs call doesn't have an '--all' option, so we have to check for and iterate thru pages returned in the JSON result.

I'd like to request that the CLI be updated to including this option if at all feasible.

Thanks,
Shawn

https://github.com/oracle/oci-cli/blob/263a269e92975579e47256ec3bca956b1381a421/service

[2020-07-23 17:20] aaronkvanmeerten opened #309 "os object bulk-upload timeout feature"
When uploading files via oci os object bulk-upload we are regularly experiencing failures which cause the oci tool to block and not return, sometimes for days or weeks if left alone.

It would nice to have a timeout parameter which could cause the oci tool to exit non-zero if the upload processing takes longer than a specified amount of time.

It would also be nice to understand why this happens.

[2020-07-24 12:46] nonow53 opened #310 "Unable to install oci-cli without internet"
Hello,

I have tried to install manually oci-cli on Ubuntu 18.04 server which has no internet access.
I have followed the documentation [https://docs.cloud.oracle.com/en-us/iaas/Content/API/SDKDocs/climanualinst.htm](url) until the step 3 : pip install oci_cli-*-py2.py3-none-any.whl

The command failed with these errors :
`(oracle-cli) [root@uobse0cp01 oci-cli]# pip install oci_cli-*-py2.py3-none-

[2020-07-24 13:59] j0serobles commented on #310
Hi,
Had the same error a couple of days ago, because I was inside corporate
VPN.  Internet needs to be reachable.

Regards,
Jose Robles

On Fri, Jul 24, 2020 at 8:46 AM Arnaud Giffard <notifications@github.com>
wrote:

--
Eng. Jose R. Robles, PE

engjoserobles@gmail.com

cel. (407) 538-7479

[2020-07-24 14:53] hspuijbroek commented on #276
@puneethvelichala can you post an example off an oci cli command? I did an export from the https://console.eu-frankfurt-1.oraclecloud.com/ to get the certificate and imported this on the machine that has OCI CLI installed. After that i ran the following command to test the oci connection:

oci compute instance get --instance-id (ocid id) --config-file (path to config)

I still received an error. S

[2020-07-26 23:05] vish1 commented on #310
@nonow53 You need to have access to https://pypi.org in order to install the CLI package as well as the required dependencies.

[2020-07-26 23:05] #310 closed

[2020-07-26 23:17] vish1 commented on #305
Thanks for reporting this @jazzl0ver. We will incorporate the parameter soon.

[2020-07-28 05:50] VAdamec opened #311 "oci announce announcements list doesn't have an '--all' and return misleading warning"
Hi,
 oci announce announcements list command returns paged data and _WARNING: This operation supports pagination and not all resources were returned.  Re-run using the --all option to auto paginate and list all resources._ But there is no such option, it is possible to add --all option or at least tweak returned warning as it's misleading.

Thanks

[2020-07-29 09:03] chris93111 opened #313 "osms attach timeout"
Hi

I try to attach instance to group osms in oci but i have always timeout

i am directly plug in internet (no proxy)

oci os-management managed-instance-group attach --managed-instance-group-id xxxxxx--managed-instance-id xxxxx -d

Traceback (most recent call last):
  File "/Users/chris/bin/oci", line 8, in <module>
    sys.exit(cli())
  File "/Users/chris/lib/oracle-cli/lib/python3.7/site-packa

[2020-07-30 14:16] aaronkvanmeerten commented on #309
I've seen no response here, so we'll be raising an internal oracle cloud ticket to escalate with our customer representative, as this continues to happen on a regular basis.

[2020-07-31 18:35] kernleee commented on #85
OCI CLI is now on Homebrew, closing this. https://formulae.brew.sh/formula/oci-cli

[2020-07-31 18:35] #85 closed

[2020-08-03 22:29] kernleee commented on #313
@chris93111 Hi Chris, this error code seems like an authentication issue. Do you have all of the correct permissions or if this being run within a compute instance without enough permissions?

[2020-08-04 19:12] kernleee commented on #299
This may be because your instance does not have full permissions for this operation. Cloudshell's authentication is different from compute instance authentication. Can you check whether your instance has full permissions for this operation? Could you also return the error code?

[2020-08-05 18:49] kernleee commented on #289
This will not be fixed as stated above, not all commands have the option for filtering which is why we offer the --query parameter as a global parameter. I'll be closing this ticket, feel free to reopen it if you have more concerns.

[2020-08-05 18:49] #289 closed

[2020-08-05 19:01] kernleee commented on #309
Is this resolved? I don't think I saw an internal ticket for this.

[2020-08-05 19:02] aaronkvanmeerten commented on #309
It appears to have been user error, the lack of --no overwrite or --overwrite combined with a retry of an existing path meant the application was blocking waiting for user input.  I am closing this now.

[2020-08-05 19:02] #309 closed

[2020-08-05 19:03] kernleee commented on #301
@twmcelroy Have you tried deleting the file from the location? That should solve it.

[2020-08-05 20:17] twmcelroy commented on #301
No that throws even more errors.
![image](https://user-images.githubusercontent.com/20779080/89459736-be560f80-d72e-11ea-9b48-156b44bb229c.png)

[2020-08-05 21:15] kernleee commented on #301
When is that error thrown? Have you tried uninstalling and installing? https://docs.cloud.oracle.com/en-us/iaas/Content/API/SDKDocs/cliuninstall.htm

[2020-08-05 23:24] kernleee commented on #215
There was a feature added `oci compute image import from-object/from-object-uri` to specify operating system, operating system version. https://docs.cloud.oracle.com/en-us/iaas/tools/oci-cli/2.12.5/oci_cli_docs/cmdref/compute/image/import/from-object.html

Still not sure about specifying OCI as an image type however.

[2020-08-05 23:30] kernleee commented on #285
Closing this since this isn't a CLI issue.

[2020-08-05 23:30] #285 closed

[2020-08-05 23:33] kernleee commented on #276
@hspuijbroek Do you mean to pass in a --cert-bundle? Also if you are running CLI from a compute instance it might be easier for you to be using instance principals. https://www.ateam-oracle.com/calling-oci-cli-using-instance-principal

[2020-08-05 23:38] kernleee commented on #286
Closing this as it looks like the issue was solved.

[2020-08-05 23:38] #286 closed

[2020-08-06 12:54] chris93111 commented on #313
Hi the user is admin of tenant , sometime the instance is attached but the return code of api is same 502

[2020-08-06 23:33] kernleee commented on #313
Is there more to the debug log? A 502 error seems related to something on the user client. Do you have proxy environment variables set up possibly?

[2020-08-07 00:30] kernleee commented on #46
This is an old ticket, the --verify-checksum flag in `oci os object bulk-upload` solves this issue so I'll be closing it.
https://docs.cloud.oracle.com/en-us/iaas/tools/oci-cli/2.12.6/oci_cli_docs/cmdref/os/object/bulk-upload.html

[2020-08-07 00:30] #46 closed

[2020-08-07 08:04] chris93111 commented on #313
No i am plug with internet directly , detach work perfectly

[2020-08-10 02:15] twmcelroy commented on #301
That didn't work but then it gave more errors. But I found it. My initial profile had duplicates
![image](https://user-images.githubusercontent.com/20779080/89747225-592e5100-da83-11ea-98d1-3daaa3e4352a.png)
I've commented them out and now on a load it doesn't send the error. Now i've learned about PowerShell profiles. No clue how those duplicates got in there. Maybe with how it was installed and

[2020-08-10 02:15] #301 closed

[2020-08-10 18:35] kernleee commented on #296
@terter Are you still facing this issue? It could also be caused by the proxies.

[2020-08-11 22:56] kernleee commented on #269
Merged your suggestions in 2.12.7, thanks for your help @priteshkp
Closing this

[2020-08-11 22:56] #269 closed

[2020-08-11 22:58] kernleee commented on #305
Added a new parameter for the install script. For Windows this is -ScriptDir.
Thanks for your suggestion @jazzl0ver
Closing this issue.

[2020-08-11 22:58] #305 closed

[2020-08-11 22:59] kernleee commented on #295
idna has been removed from our requirements.
Thank you for the suggestion @linqing2004
Closing this issue.

[2020-08-11 22:59] #295 closed

[2020-08-11 23:00] kernleee commented on #282
@binbashroot We've added a new parameter to specify the install script directory, --script-dir.
Thank you for bringing this to our attention, closing this issue.

[2020-08-11 23:00] #282 closed

[2020-08-11 23:04] kernleee commented on #313
Can you try the command again and give me a recent opc-request-id. I can request for the os management service to take a look into the specific api request. Do you have env variables for http_proxy or https_proxy?

[2020-08-13 11:35] chris93111 commented on #313
Hi no i don't have var http_proxy because i don't use proxy, i have plug directly to internet

opc-request-id: E242F0FD847241A6BCA945C4A6133AD2

i have updated agent osms to latetest in instance (450) but the result is the same:
attach -> timeout or 502
detach -> work perfectly

[2020-08-17 17:19] pikopiri127 opened #317 "CLI installation script fails"
Im following https://docs.cloud.oracle.com/en-us/iaas/Content/API/SDKDocs/cliinstall.htm to install CLI for Windows.
When I run the installer script as Administrator I got the following error.
I'm very beginner in CLI and I'd appreciate it if I could get any help so that I can move forward and complete this installation.

PS C:\WINDOWS\system32> powershell -NoProfile -ExecutionPolicy Bypass -Comma

[2020-08-17 18:08] vish1 commented on #317
@pikopiri127 The line provided on the page for Windows install assume you are running in the Windows Shell. The first line of the command is actually to start `powershell`. In your case, you are running the line within Powershell and hence should only run the actual command - `iex ((New-Object System.Net.WebClient).DownloadString('https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/ins

[2020-08-17 18:22] pikopiri127 commented on #317
@vish1 Yes it works!! Thank you so much for your prompt response, I really appreciate it!!

[2020-08-17 18:22] #317 closed

[2020-08-17 22:43] kernleee commented on #172
Bug should have been fixed. Closing this issue. Thank you @eugsim1 for reporting this.

[2020-08-17 22:43] #172 closed

[2020-08-18 00:07] HamadaGabrIbrahim commented on #117
@bkashyapgithub I tried installing OCI CLI using the installation script on Ubuntu 18.04 and it works fine without any issue.
https://docs.cloud.oracle.com/en-us/iaas/Content/API/SDKDocs/cliinstall.htm
Could you please let me know what error are you getting so we can investigate and fix?

[2020-08-18 13:38] jazzl0ver opened #318 "oci cli asks for the private key password twice"
[code]

[2020-08-18 17:35] binbashroot opened #319 "--scripts-dir option causes installation failure"
Running following installation with options fails:
OS:  OEL 7.8
Python: 3.6.8

Steps
[code]
Failed to run install script. Unrecognized argument: --script-dir=/opt/oracle-cli/bin/oci-cli-scripts

[2020-08-18 18:01] kernleee commented on #318
Hi @jazzl0ver, it is asking twice because it is making and internal call to 'oci os ns get' to retrieve the namespace. If you pass in the --namespace parameter in the command it should only ask the password once.

[2020-08-18 18:04] kernleee commented on #215
There currently isn't a way for us to support the 'OCI' source image type because the API only allows QCOW2, VMDK. I'll be closing this as a result. Feel free to reopen if necessary

[2020-08-18 18:04] #215 closed

[2020-08-18 18:08] kernleee commented on #319
There's an equal sign in --script-dir=/opt/oracle-cli/bin/oci-cli-scripts. Can you try spacing out the parameter and argument?
--script-dir /opt/oracle-cli/bin/oci-cli-scripts

[2020-08-18 19:59] binbashroot commented on #319
Sorry for wasting your time.  Didn't even catch that.  It works.  Sincerest apologies!!

[2020-08-18 19:59] #319 closed

[2020-08-18 21:26] kernleee commented on #251
@runionow I'm closing this issue since there hasn't been a response in a while. Feel free to open it back up.

[2020-08-18 21:26] #251 closed

[2020-08-18 21:28] kernleee commented on #313
@chris93111 I'm working with the service team. Can you give me additional information
Region
Operating System Version